body {
	margin: 0;
	padding: 0;
	background-image: url('autumn.jpg');
	background-size: 100%;
	overflow: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;

	ul {
		width: 95% !important;

		li {
			position: relative;

			&:nth-child(1) {

				a {
					background-color: #5B1647;
				}
			}

			&:nth-child(2) {

				a {
					background-color: #780D41;
				}
			}

			&:nth-child(3) {

				a {
					background-color: #93073E;
				}
			}

			&:hover {

				a {
					background-color: #FFC400 !important;
					color: #003a65;
				}
			}

			a {
				color: white;
				transition: 0.35s;
				border-radius: 0px !important;
				font-weight: bold;
				font-family: "nexa";
				letter-spacing: 2px;
				height: 4vh;
				line-height: 4vh !important;
				border: 0px solid white !important;
				padding: 0px !important;
			}
		}
	}

	ul:nth-child(2) {

		li {
			position: relative;

			&:nth-child(1) {

				a {
					background-color: #93073E ;
					
				}
			}

			&:nth-child(2) {

				a {
					background-color: #5B1647;
				}
			}

			&:nth-child(3) {

				a {
					background-color: #780D41;
				}
			}
		}
	}
}

a.login-button {
	z-index: 150;

	div.login-button {
		position: fixed;
		top: 0;
		right: 0;
		background-color: #ff5627;
		height: 8vh;
		width: 5.05%;
		z-index: 50;
		text-align: center;
		color: white;
		line-height: 8vh;
		font-size: 24px;
		transition: 0.35s;

		&:hover {
			width: 10%;
		}

		&:hover > i:before {
			content: 'LOG IN';
			font-family: "nexa";
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
}

div.login-box {
	position: absolute;
	width: 20vw;
	margin-top: 25vh;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	margin-left: 40vw;
	display: none;

	.form-group {

		margin: 0;

		label {
		width: 40%;
		margin-left: 30%;
		text-align: center;
		padding-top: 16px;
		font-family: 'nexa';
		font-weight: lighter;
		color: white;
		}

		input {
			width: 80%;
			margin-left: 10%;
			background-color: #eee;
		}
	}

	div.checkbox {
		width: 80%;
		margin-left: 10%;
		margin-top: 2vh;
		text-align: right;

		label {
			color: white;
			font-size: 12px;
		}

		input {
			font-family: 'nexa';
			font-weight: lighter;
			width: 12px;
			margin-top: 2px;
		}
	}

	.btn-primary {
		width: 30%;
		margin-left: 35%;
		margin-top: 4vh;
		background-color: white;
		color: #777;
		border: 0px solid white;
	}

	div.panel-heading {
		text-align: left;
		font-family: "nexa";
		font-weight: lighter;
	}

	div.saveorcancel {
		width: 60%;
		height: 40px;
		margin-left: 20%;
		margin-top: 10%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}

div.simple-form-box {
	position: absolute;
	width: 40vw;
	margin-left: 30vw;
	margin-top: 20vh;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	display: none;

	div.panel-heading {
		text-align: left;
		font-family: "nexa";
		font-weight: lighter;
	}

	label {
		color: white;
		font-family: "nexa";
		font-weight: bold;
		padding-top: 16px;
	}

	input {
		width: 80%;
		margin-left: 10%;
	}

	textarea {
		width: 80%;
		margin-left: 10%;
		margin: 0;
		padding: 0;
		border-radius: 5px;
	}

	a {
		color: white;
		text-decoration: none;
	}

	label.checkbox-inline {
		margin: 0;
		padding: 0;
		margin-top: 30px;
	}

	div.saveorcancel {
		width: 60%;
		height: 40px;
		margin-left: 20%;
		margin-top: 5%;

		.btn {
			display: inline-block;
			width: 25%;
			height: 100%;
		}
	}
}

div.product-box {
	position: absolute;
	width: 40vw;
	margin-left: 30vw;
	margin-top: 10vh;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	font-family: "nexa";
	font-weight: bold;
	color: white;
	display: none;

	.form-group {
		margin-top: 20px;
	}

	input {
		width: 60%;
		margin-left: 30%;
		margin-top: 20px;
	}

	label {
		width: 20%;
		text-align: left;
		padding: 0;
		margin-top: 20px;
	}

	textarea {
		width: 86.5%;
		margin-left: 10.5%;
		margin-top: 20px;
	}

	div.input-group {
		width: 60%;
		margin-left: 30%;
		margin-top: 110px;

		input {
			width: 100%;
			margin: 0;
		}

	}

	div.col-xs-3 {
		width: 50%;
		margin-left: 22.5%;
	}

	div.col-xs-offset-3 {
		margin-left: 47.5%;
		margin-top: 20px;
	}

	label.checkbox-inline {
		width: 100%;

		input {
			width: 12px;
			margin-top: 3px;
		}
	}

	div.col-xs-3 {

		select {
			margin-top: 20px;
		}
	}

	div.panel-heading {
		text-align: left;
		font-family: "nexa";
		font-weight: lighter;
	}

	div.saveorcancel {
		width: 40%;
		height: 40px;
		margin-left: 30%;
		margin-top: 2%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}

div.place-box {
	position: absolute;
	width: 20vw;
	margin-left: 40vw;
	margin-top: 16vh;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	font-family: "nexa";
	font-weight: bold;
	color: white;
	display: none;

	input:nth-child(1) {
		margin-top: 20px;
		width: 80%;
		margin-left: 10%;
	}

	label {
		margin-top: 10px;
	}

	div.chooseafile {
		position: relative;
    	overflow: hidden;
    	margin: 10px;
    	width: 50%;
    	margin-left: 25%;
    	background-color: white;
    	color: black;
    	border-radius: 2px;
	}

	div.chooseafile input.chooseafile {
		position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	cursor: pointer;
    	opacity: 0;
    	filter: alpha(opacity=0);
	}

	textarea {
		width: 80%;
		margin: 0;
		margin-top: 20px;
		border-radius: 5px;
	}

	div.col-xs-12 {
		width: 80%;
		margin-left: 10%;
		margin-top: 20px;
	}

	#datepicker {
		color: black;
		margin-top: 20px;
	}

	div.active-box {
		width: 100%;

		label {
			width: 100%;
			margin: 0;
			margin-top: 20px;
			padding: 0;

			input {
				width: 12px;
				margin: 0;
			}
		}
	}

	div.panel-heading {
		text-align: left;
		font-family: "nexa";
		font-weight: lighter;
	}

	div.saveorcancel {
		width: 70%;
		height: 40px;
		margin-left: 15%;
		margin-top: 2%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}

div.etiquette {
	position: absolute;
	width: 20vw;
	margin-top: 16vh;
	margin-left: 40vw;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	font-family: "nexa";
	font-weight: bold;
	color: white;
	display: none;

	label {
		margin-top: 20px;
		margin-left: 0;
		padding: 0;
	}

	label.checkbox-inline {
		width: 100%;

		input {
			width: 10%;
			margin-left: 0px;
		}
	}

	input.first {
		width: 80%;
		margin-left: 10%;
	}

	input {
		margin: 0;
		padding: 0;
	}

	select {
		margin-top: 20px;
	}

	div.chooseafile {
		position: relative;
    	overflow: hidden;
    	margin: 10px;
    	width: 50%;
    	margin-left: 25%;
    	background-color: white;
    	color: black;
    	border-radius: 2px;
	}

	div.chooseafile input.chooseafile {
		position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	cursor: pointer;
    	opacity: 0;
    	filter: alpha(opacity=0);
	}

	textarea {
		width: 80%;
		margin: 0;
		border-radius: 5px;
	}

	div.panel-heading {
		text-align: left;
		font-family: "nexa";
		font-weight: lighter;
	}

	div.saveorcancel {
		width: 70%;
		height: 40px;
		margin-left: 15%;
		margin-top: 2%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}

div.users-table {
	position: absolute;
	width: 60vw;
	margin-top: 16vh;
	margin-left: 20vw;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	font-family: "nexa";
	font-weight: bold;
	color: white;
	display: none;

	th {
		text-align: center;
	}

	.btn-warning:before {
		font-family: "fontawesome";
		content: '\f040';
	}

	.btn-danger:before {
		font-family: "fontawesome";
		content: '\f00d';
	}

	ul.pagination {
		width: 30%;
		margin-left: 65%;

		li {

			a {
				background-color: #777;
				color: white;
				font-family: "nexa";
				font-weight: lighter;
			}
		}
	}

	div.panel-heading {
		text-align: center;
		font-family: "nexa";
		font-weight: bold;
		background-color: cyan;
		color: magenta;
	}

	div.saveorcancel {
		width: 40%;
		height: 40px;
		margin-left: 30%;
		margin-top: 2%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}

div.places-table {
	position: absolute;
	width: 60vw;
	margin-left: 20%;
	margin-top: 16vh;
	background-color: rgba(119, 119, 119, 0.8);
	border: 0.25px solid white;
	border-radius: 1px;
	text-align: center;
	font-family: "nexa";
	font-weight: bold;
	color: white;
	display: none;

	th {
		text-align: center;
	}

	select {
		width: 70%;
		margin-left: 15%;
	}

	.btn-warning:before {
		font-family: "fontawesome";
		content: '\f040';
	}

	.btn-danger:before {
		font-family: "fontawesome";
		content: '\f00d';
	}
	ul.pagination {
		width: 30%;
		margin-left: 65%;

		li {

			a {
				background-color: #777;
				color: white;
				font-family: "nexa";
				font-weight: lighter;
			}
		}
	}

	div.panel-heading {
		text-align: center;
		font-family: "nexa";
		font-weight: bold;
		background: green;
		color: white;
	}

	div.saveorcancel {
		width: 40%;
		height: 40px;
		margin-left: 30%;
		margin-top: 2%;
		margin-bottom: 5%;

		.btn {
			display: inline-block;
			width: 45%;
			height: 100%;
		}
	}
}