ul.nav-justified > li:nth-child(1) > a {
	background-color: #5B1647;
}

ul.nav-justified > li:nth-child(2) > a {
	background-color: #780D41;
}

ul.nav-justified > li:nth-child(3) > a {
	background-color: #93073E;
}

ul.nav-justified > li > a {
	color: white;
	transition: 0.35s;
	border-radius: 0px !important;
	font-weight: bold;
	font-family: "nexa";
	letter-spacing: 2px;
	height: 8vh;
	line-height: 8vh !important;
	border: 0px solid white !important;
	padding: 0px !important;
}

ul.nav-justified > li:hover > a {
	background-color: #FFC400 !important;
	color: #003a65;
}

ul.nav-justified {
	position: fixed;
}

