@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: #fff;
@mainFont: "open sans";

div.book-now-area {
		position: fixed;
		width: 30%;
		height: 100%;
		top: 0;
		right: -30%;
		background-color: white;
		z-index: 200;
		transition: 0.3s;

		div.book-now-area-head {
			width: 90%;
			margin-left: 5%;
			font-size: 36px;
			font-family: @mainFont;
			color: @mainColor;
			font-weight: lighter;
			margin-top: 2%;

			p {
				margin: 0;
				padding: 0;
			}
		}

		div.book-now-area-checkin-checkout-form {
			width: 90%;
			margin-left: 5%;
			margin-top: 3%;
	
			input {
				float: left;
				width: 45%;
				box-sizing: border-box;
				border: 0px solid black;
				border-width: 0px 0px 1px 0px;
				background-color: white;
				font-size: 16px;
				font-family: @mainFont;
				font-weight: lighter;
				outline: none;

				&:nth-child(2) {
					margin-left: 10%;
				}
			}
		}

		div.book-now-area-date-picker {
			width: 90%;
			height: 46%;
			margin-left: 5%;
			margin-top: 15%;

			.hasDatepicker {
				width: 100%;
				height: 100%;
				background-color: rgb(250, 250, 250);
				font-family: @mainFont;
				position: relative;
				z-index: 100;

				a {
					text-decoration: none;
				}

				div.ui-datepicker {
					width: 100%;
					height: 100%;
				}

				table {
					width: 100%;
					margin-top: 10px;
					z-index: 100;
					height: 80%;

					thead {	
						z-index: 100;

						tr {
							z-index: 100;

							th {
								padding: 0;
								margin: 0;
								z-index: 100;

								span {
									z-index: 100;
									width: 100%;
									display: block;
									background-color: @mainColor;
									border: 1px solid @mainColor;
									font-family: @mainFont;
									font-weight: lighter;
									text-align: center;
								}
							}
						}
					}

					tbody {

						td {
							text-align: center;
							font-family: @mainFont;
							color: black;

							a {
								text-decoration: none;
								color: black;
							}
						}
					}
				}

				.ui-datepicker-header {
					text-align: center;
					height: 50px;
					position: relative;

					.ui-datepicker-prev, .ui-datepicker-next {
						display: inline-block;
						position: absolute;
						width: 30px;
						height: 30px;
						text-align: center;
						cursor: pointer;
						background-size: 100%;
						background-repeat: no-repeat;
						line-height: 30px;
						color: rgb(250, 250, 250);
						overflow: hidden;
  						background-position: center 0px;
  						text-indent: 100%;
  						margin-top: 20px;
  						z-index: 100;
					}

					.ui-datepicker-prev {
						background-image: url('../images/arrow-left_black2.png');
						left: 0;
					}

					.ui-datepicker-next {
						right: 0;
						background-image: url('../images/arrow-right_black2.png');
					}

					div.ui-datepicker-title {
						width: 100%;
						height: 60px;
						position: relative;

						span.ui-datepicker-year {
							position: absolute;
							display: block;
							width: 100%;
							top: 0;
							left: 0;
							height: 20px;
							line-height: 30px;
							margin-top: 0px;
							font-size: 12px;
							font-weight: bold;
						}
	
						.ui-datepicker-month {
							position: absolute;
							display: block;
							width: 100%;
							margin-top: 20px;
							height: 30px;
							line-height: 30px;
							text-transform: uppercase;
							color: @mainColor;
							font-size: 20px;
							font-weight: lighter;
						}
					}

					div.ui-datepicker-calendar {
						margin-top: 45px;
					}
				}
			}
		}

		div.book-now-area-select-box {
			width: 90%;
			margin-left: 5%;
			margin-top: 20px;
			position: relative;

			div {
				display: inline-block;
			}

			div.people-count {
				width: 20%;
				height: 30px;
				text-align: left;

				p {
					padding: 0;
					margin: 0;
					height: 20px;
					font-family: @mainFont;
					color: @mainColor;
				}

				select {
					width: 80%;
					height: 100%;
					border: 1px solid @mainColor;
					box-sizing: border-box;
					float: left;
					background: linear-gradient(90deg, white 50%, @mainColor 50%);
				}

				div.select-arrow {
					width: 49%;
					height: 100%;
					background-color: red;
					float: right;
				}
			}

			div.select-room-type {
				width: 50%;
				height: 30px;
				margin-left: 5%;

				p {
					padding: 0;
					margin: 0;
					height: 20px;
					font-family: @mainFont;
					color: @mainColor;
				}

				select {
					width: 80%;
					height: 100%;
					border: 1px solid @mainColor;
					box-sizing: border-box;
					float: left;
					background: linear-gradient(90deg, white 80%, @mainColor 20%);
				}

				div.select-arrow {
					width: 49%;
					height: 100%;
					background-color: red;
					float: right;
				}
			}
		}

		div.book-now-area-check-boxes {
			width: 90%;
			margin-left: 5%;
			position: relative;
			margin-top: 40px;

			label {
				display: block;

				span {
					margin-top: 1px;
					font-family: @mainFont;
					font-weight: lighter;
				}
			}

			label > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				margin-top: 3px;
				margin-left: 3px;
				width: 14px;
				height: 14px;
				border: 1px solid black;
				box-sizing: border-box;
			}

			label > input {
				display: none;
			}

			label > input:checked + span:before {
				background-image: url("../images/check.png");
				background-size: 100%;
				background-position: cover;
			}
		}

		div.book-now-area-promo-code {
			margin-left: 5%;
			height: 40px;
			margin-top: 5%;
			line-height: 40px;
			float: left;

			a {
				text-decoration: none;
				color: black;
				font-family: @mainFont;

				p {
					padding: 0;
					margin: 0;
				}
			}
		}

		div.book-now-area-availability {
			width: 50%;
			height: 40px;
			line-height: 40px;
			float: right;
			margin-top: 5%;
			background-color: @mainColor;
			text-align: center;
			margin-right: 5%;

			a {
				text-decoration: none;
				color: black;
				font-family: @mainFont;

				p {
					padding: 0;
					margin: 0;
				}
			}
		}
	}

div.book-now-overflow {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 150;
	top: 0;
	left: 0;
	display: none;
}