@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: #fff;
@mainFont: "open sans";

@media screen and (max-width: 749px) {


	div.book-now-area {
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		background-color: white;
		z-index: 200;
		transition: 0.5s;

		div.book-now-area-head {
			display: none;
		}

		div.book-now-area-date-picker {
			width: 90%;
			height: 35%;
			margin-left: 5%;
			margin-top: 15%;
		}
	}
}