@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (max-width: 749px) {

	html {

		body {

			header {
				display: none;
			}

			div.shop-button {
				display: none;
			}

			div.footer {
				display: none;
			}

			div.headermobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @mainColor;
				
				p {
					margin: 0px;
				}
			}

			div.booknowmobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 60px;
				left: 0;
				background-color: #cba45f;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 18px;
				text-align: center;
				font-family: @mainFont;
				color: @thirdColor;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

				p {
					margin: 0px;
				}
			}

			div.main-container {
				position: relative;
				width: 98%;
				height: auto;
				margin-left: 1%;
				margin-top: 125px;
				background-color: rgba(255, 255, 255, 0.95);

				div.empty-up-div {
					width: 100%;
					height: 3vh;
				}

				div.main-careers {
					width: 100%;
					height: 900px;

					display: -webkit-box;
    				display: -moz-box;
    				display: box;
    				
    				-webkit-box-orient: vertical;
    				-moz-box-orient: vertical;
    				box-orient: vertical;

					div.careers {
						width: 100%;
						position: relative;
						height: 200px;

						&:nth-child(1) {
							background-image: url("../images/careers1.jpg");
							background-size: 100%;
							-webkit-box-ordinal-group: 1;
    						-moz-box-ordinal-group: 1;
    						box-ordinal-group: 1;
						}

						&:nth-child(2) {
							-webkit-box-ordinal-group: 2;
    						-moz-box-ordinal-group: 2;
    						box-ordinal-group: 2;
						}

						&:nth-child(3) {
							-webkit-box-ordinal-group: 4;
    						-moz-box-ordinal-group: 4;
    						box-ordinal-group: 4;
						}

						&:nth-child(4) {
							-webkit-box-ordinal-group: 3;
    						-moz-box-ordinal-group: 3;
    						box-ordinal-group: 3;
						}

						&:nth-child(2), &:nth-child(3) {

							height: 250px;

							p.careers-head {
								width: 100%;
								text-align: center;
								margin: 0;
								margin-top: 10px;
							}

							div.careers-underline {
								width: 20%;
								margin-left: 40%;
							}

							p.careers-description {
								text-align: justify;
								width: 94%;
								margin-left: 3%;
								padding: 0;
								margin-top: 5px;
							}
						}
					}
				}

				div.empty-careers-box {
					height: 0px;
				}

				div.open-positions-head-text {
					text-align: center;
					font-size: 24px;
				}

				div.one-position-box {
					width: 98%;
					margin-left: 1%;

					div.position-description-box {
						position: absolute;
						width: 98%;
						height: 80%;
						top: 19%;
						left: 1%;

						p.position-name {
							margin: 0;
							padding: 0;
							text-align: center;
						}

						p.position-short-description {
							width: 96%;
							margin-left: 2%;
							text-align: justify;
							margin-bottom: 5px;
						}

						ul {
							margin: 0;
							width: 96%;
							height: 80px;
							margin-left: 2%;

							li {
								margin-left: 5%;
							}
						}

						a {
							position: absolute;
							width: 30%;
							top: 60%;
							right: 15%;
							height: 10%;

							div.apply-position-box {
								width: 100%;
							}
						}
					}
				}
			}

			div.just-empty-box {
				height: 10px;
			}
		}
	}
}