@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../images/careers_bg.jpg");
	background-size: 100%;
	overflow-y: hidden;
}

div.headermobile, div.booknowmobile {
	display: none;
}

header {
	width: 100%;
	height: 50px;
	background-color: @thirdColor;
	position: fixed;
	margin-top: 4vh;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
	z-index: 100;

	div.hamburger-himself {
		width: 5%;
		height: 100%;
		position: absolute;
		margin-left: 1.5vw;
		text-align: left;
		line-height: 50px;
		font-size: 32px;
		color: @mainColor;

		a {
			text-decoration: none;
			color: @mainColor;
		}
	}

	div.centered-logo {
		position: absolute;
		width: 20%;
		height: 100%;
		margin-left: 40%;

		img {
			height: 34px;
			position: absolute;
    		margin: auto;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}

	div.book-now-box {
		width: 15%;
		height: 100%;
		position: absolute;
		right: 1.5vw;
		text-align: right;
		line-height: 50px;

		a {
			text-decoration: none;
			color: @mainColor;
			font-family: @mainFont;
			font-weight: lighter;
			font-size: 20px;
		}
	}
}

div.careers-button {
	position: absolute;
	width: 30%;
	height: 10vh;
	margin-left: 35%;
	margin-top: 45vh;
	border: 1px solid white;
	text-align: center;
	line-height: 10vh;
	color: white;
	font-family: @mainFont;
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 60px;
	overflow: hidden;
	letter-spacing: 5px;

	p {
		margin: 0;
		padding: 0;
	}
}

div.main-container {
	position: relative;
	width: 98%;
	margin-left: 1%;
	margin-top: 90vh;
	background-color: rgba(255, 255, 255, 0.9);

	div.main-careers {
		width: 100%;
		height: 800px;

		div.careers {
		width: 50%;
		height: 400px;
		float: left;

			&:nth-child(1) {
				background-image: url("../images/careers1.jpg");
				background-size: 100%;
			}
	
			&:nth-child(2), &:nth-child(3) {
	
				p.careers-head {
					margin-top: 10%;
					margin-left: 10%;
					margin-bottom: 0;
					padding: 0;
					font-family: @mainFont;
					font-weight: bold;
					font-size: 24px;
				}
	
				div.careers-underline {
					width: 10%;
					height: 2px;
					background-color: @mainColor;
					margin-left: 10%;
					margin-top: 10px;
				}
	
				p.careers-description {
					width: 80%;
					margin-left: 10%;
					padding: 10px 0px 0px 0px;
					font-size: 14px;
					font-family: @mainFont;
				}
			}

			&:nth-child(4) {
				background-image: url("../images/careers2.jpg");
				background-size: 100%;
			}
		}
	}

	div.empty-careers-box {
		width: 100%;
		height: 60px;
		position: relative;
	}

	div.open-positions-head-text {
		width: 100%;
		height: 80px;
		text-align: center;
		font-family: @mainFont;
		color: @secondColor;
		line-height: 80px;
		font-size: 48px;

		p {
			padding: 0px 0px 15px 0px;
			margin: 0;
		}
	}

	div.one-position-box {
		width: 94%;
		height: 300px;
		margin-left: 3%;
		margin-top: 20px;
		position: relative;

		div.position-description-box {
			position: absolute;
			width: 25%;
			height: 96%;
			top: 2%;
			right: 0.5%;
			background-color: white;

			p.position-name {
				padding-top: 0px 0px 0px 0px;
				margin: 10px 0px 0px 23px;
				font-family: @mainFont;
				color: @secondColor;
				font-size: 24px;
			}

			p.position-short-description {
				padding-top: 0px 0px 0px 0px;
				margin: 5px 5px 0px 25px;
				font-family: @mainFont;
				font-size: 12px;
			}

			ul {
				margin: 5px 0px 0px 30px;
				padding: 0;

				li {
				padding: 0;
				margin: 0;
				font-size: 12px;
				font-family: @mainFont;
				}
			}

			a {
				text-decoration: none;

				div.apply-position-box {
					width: 40%;
					height: 30px;
					margin-top: 10px;
					margin-left: 25px;
					color: @secondColor;
					border: 1px solid @secondColor;
					font-family: @mainFont;
					text-align: center;
					line-height: 30px;
					font-weight: bold;
				}
			}
		}
	}

	div.first-position-box {
		background-image: url("../images/gardener.jpg");
		background-size: 150% 100%;
	}

	div.second-position-box {
		background-image: url("../images/gardener2.jpg");
		background-size: 150% 100%;
	}

	div.third-position-box {
		background-image: url("../images/gardener3.jpg");
		background-size: 150% 100%;
	}

	div.fourth-position-box {
		background-image: url("../images/gardener4.jpg");
		background-size: 150% 100%;
	}
}

div.just-empty-box {
	width: 100%;
	height: 50px;
}

div.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	div.contacts-container {
		background-color: rgba(161, 129, 75, 0.95);

		div.newsletter-div {
			width: 100%;
			text-align: center;
			font-family: @mainFont;
			color: @thirdColor;

			p {
				padding-top: 30px;
				font-size: 20px;
				font-weight: lighter;
			}

			form {

				input {
					width: 200px;
					border: 1px solid black;
					border-width: 0px 0px 1px 0px;
					background-color: rgba(161, 129, 75, 0);
					font-size: 14px;
					color: rgb(208, 208, 208);
					outline: none;
				}

				button {
					background-color: rgba(255, 255, 255, 0);
					border: none;
					&:focus {
						outline: 0;
					}

					img {
						height: 20px;
					}
				}
			}
		}

		div.main-logo-contact-box{
			width: 30%;
			margin-left: 35%;

			img {
				width: 100%;
			}
		}

		div.contacts-facilities {
			width: 80%;
			margin-left: 10%;
			text-align: center;

			a {
				text-decoration: none;

				&:hover {

					p.contacts-facilities {
						text-decoration: underline;
					}
				}

				p.contacts-facilities {
					display: inline-block;
					font-family: @mainFont;
					font-size: 18px;
					padding-left: 50px;
					padding-right: 50px;
					color: rgb(208, 208, 208);
				}
			}
		}

		div.contacts-submenu {
			width: 100%;
			text-align: center;

			a {
				text-decoration: none;
				color: black;

				&:hover {

					p.contacts-submenu {
						text-decoration: underline
					}
				}

				p.contacts-submenu {
					display: inline-block;
					font-size: 14px;
					font-family: @mainFont;
					padding-left: 3px;
					padding-right: 30px;
					padding-top: 8px;
				}
			}
		}

		div.social-media-container {
			width: 40%;
			margin-left: 30%;

			a {
				text-decoration: none;

				div.social-media-each {
						display: inline-block;
						width: 13%;

					img {
						width: 75%;
						box-sizing: border-box;

						&:hover {
							border: 1px solid @mainColor;
							border-radius: 100%;
						}
					}
				}
			}
		}

		div.who-made-it {
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 12px;
			font-family: @mainFont;
			color: @thirdColor;
			margin-top: 10px;
		}
	}
}