@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html {

		body {

			header {
				display: none;
			}

			div.footer {
				display: none;
			}

			div.headermobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @mainColor;
				
				p {
					margin: 0px;
				}
			}

			div.booknowmobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 60px;
				left: 0;
				background-color: #cba45f;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 18px;
				text-align: center;
				font-family: @mainFont;
				color: @thirdColor;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

				p {
					margin: 0px;
				}
			}

			div.careers-button {
				display: block;
				margin-top: 20vh;
				width: 60%;
				height: 8vh;
				line-height: 8vh;
				font-size: 36px;
				margin-left: 20%;
			}

			div.main-container {
				position: relative;
				width: 98%;
				height: auto;
				margin-left: 1%;
				margin-top: 40vh;
				background-color: rgba(255, 255, 255, 0.95);

				div.main-careers {
					height: 600px;

					div.careers {
						height: 300px;
					}
				}

				div.one-position-box {

					div.position-description-box {
						width: 40%;
						margin-left: 59%;
					}
				}

				div.empty-careers-box {
					height: 30px;
				}
			}

			div.just-empty-box {
				display: block;
				height: 10px;
			}
		}
	}
}