@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-image: url("../images/we-expect.jpg");
	background-size: 100%;
}

div.headermobile {
	display: none;
}

header {
	width: 100%;
	height: 10vh;
	top: 0;
	left: 0;
	background-color: white;

	div.main-logo-box {
		width: 30%;
		height: 100%;
		margin-left: 35%;

		div.empty-div-logo {
			width: 100%;
			height: 2vh;
		}

		img {
			height: 6vh;
			margin: 0 auto;
			display: block;
		} 
	}

	div.back-button {
		position: absolute;
		width: 10%;
		height: 10vh;
		line-height: 10vh;
		margin-left: 2%;
		text-align: left;
		font-family: @mainFont;
		color: @mainColor;
		margin-top: -10vh;
		font-size: 32px;

		p {
			padding: 0;
			margin: 0;

			a {
				text-decoration: none;
				color: @mainColor;
			}
		}
	}
}

div.reservation-process {
	width: 100%;
	height: 6vh;
	background-color: #ccc;

	div.reservation-process-inside {
		width: 60%;
		height: 100%;
		margin-left: 20%;

		div.reservation-process-etap {
			width: 25%;
			float: left;

			div.round-check {
				height: 4vh;
				width: 4vh;
				line-height: 4vh;
				color: black;
				font-size: 12px;
				margin-top: 1vh;
				border: 0.1px solid black;
				border-radius: 100%;
				box-sizing: border-box;
				float: left;
				background-color: rgba(255, 255, 255, 0);
				text-align: center;
				font-family: @mainFont;
				font-weight: bold;
			}

			#first-check {
				background-color: white;
				color: @mainColor;
			}

			span {
				height: 6vh;
				line-height: 6vh;
				font-family: @mainFont;
				font-weight: bold;
				color: black;
				margin-left: 10px;
				font-size: 14px;
			}

			#process-span2 {
				border: 1px solid @secondColor;
				border-width: 0px 0px 1px 0px;
			}
		}
	}
}

div.expect-button {
	position: absolute;
	width: 40%;
	height: 10vh;
	margin-left: 30%;
	margin-top: 15vh;
	border: 1px solid white;
	text-align: center;
	line-height: 10vh;
	color: white;
	font-family: @mainFont;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 49px;
	overflow: hidden;
	letter-spacing: 5px;

	p {
		margin: 0;
		padding: 0;
	}
}

div.join-or-sign {
	width: 100%;
	height: 25vh;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 40vh;

	p {
		margin: 0;
		padding: 0;
		width: 60%;
		margin-left: 20%;
		padding-top: 20px;
		font-family: @mainFont;
		font-weight: 200;
		font-size: 12px;
	}

	div.inside-box {
		width: 20%;
		height: 30px;
		margin-left: 40%;
		margin-top: 30px;

		div.choose-action {
			width: 49%;
			height: 30px;
			line-height: 30px;
			font-family: @mainFont;
			text-align: center;

			&:nth-child(1) {
				float: left;
				background-color: @mainColor;
				color: white;

				a {
					color: white;
				}
			}

			&:nth-child(2) {
				float: right;
				border: 1px solid @mainColor;
				box-sizing: border-box;
				color: @mainColor;

				a {
					color: @mainColor;
				}
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
			}
		}
	}
}

div.newsletter-box {
	width: 100%;
	height: 19vh;
	background-image: url("../images/footer_bg.jpg");

	div.newsletter-div {
			width: 100%;
			text-align: center;
			font-family: @mainFont;
			color: @thirdColor;

			p {
				padding-top: 30px;
				font-size: 20px;
				font-weight: lighter;
			}

			form {

				input {
					width: 200px;
					border: 1px solid black;
					border-width: 0px 0px 1px 0px;
					background-color: rgba(161, 129, 75, 0);
					font-size: 14px;
					color: rgb(208, 208, 208);
					outline: none;
				}

				button {
					background-color: rgba(255, 255, 255, 0);
					border: none;
					&:focus {
						outline: 0;
					}

					img {
						height: 20px;
					}
				}
			}
		}
}