@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (max-width: 749px) {

	html {

		body {

			header {
				display: none;
			}

			div.headermobile {
				width: 100%;
				height: 60px;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @mainColor;
				
				p {
					margin: 0px;
				}
			}

			div.booknowmobile {
				width: 100%;
				height: 60px;
				position: fixed;
				top: 60px;
				left: 0;
				background-color: #cba45f;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 18px;
				text-align: center;
				font-family: @mainFont;
				color: @thirdColor;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

				p {
					margin: 0px;
				}
			}

			div.main-menu {
				width: 70%;
				margin-left: 15%;
				margin-top: 32vh;

				button {
					height: 50px;
				}
			}
		}
	}
}