@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

.button-styles {
	width: 100%;
	text-align: center;
	font-family: @mainFont;
	color: @mainColor;
	height: 40px;
	background-color: @thirdColor;
	line-height: 40px;
	border: 0px solid @thirdColor;
	font-size: 18px;
}


html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../images/facility_hotel_background.jpg");
	background-size: 100vw 100vh;
}

header {
	width: 100%;
	height: 50px;
	background-color: @thirdColor;
	position: fixed;
	margin-top: 4vh;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

	div.hamburger-himself {
		width: 5%;
		height: 100%;
		position: absolute;
		margin-left: 1.5vw;
		text-align: left;
		line-height: 50px;
		font-size: 32px;
		color: @mainColor;

		a {
			text-decoration: none;
			color: @mainColor;
		}
	}

	div.centered-logo {
		position: absolute;
		width: 20%;
		height: 100%;
		margin-left: 40%;

		img {
			height: 34px;
			position: absolute;
    		margin: auto;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}

	div.book-now-box {
		width: 15%;
		height: 100%;
		position: absolute;
		right: 1.5vw;
		text-align: right;
		line-height: 50px;

		a {
			text-decoration: none;
			color: @mainColor;
			font-family: @mainFont;
			font-weight: lighter;
			font-size: 20px;
		}
	}
}

div.main-menu {
	width: 18%;
	position: absolute;
	margin-left: 41%;
	margin-top: 30vh;

	button {
		.button-styles;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: @mainColor;
		}

		&:focus {
			outline: 0;
		}

		&:nth-child(even) {
			visibility: hidden;
			height: 30px;
		}
	}
}

div.headermobile, div.booknowmobile {
	display: none;
}