@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html {

		body {

			header {
				display: none;
			}

			div.headermobile {
				width: 100%;
				height: 70px;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				display: block;
				z-index: 120;
				line-height: 70px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @mainColor;
				
				p {
					margin: 0px;
				}
			}

			div.booknowmobile {
				width: 100%;
				height: 70px;
				position: fixed;
				top: 70px;
				left: 0;
				background-color: #cba45f;
				display: block;
				z-index: 120;
				line-height: 70px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @thirdColor;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

				p {
					margin: 0px;
				}
			}

			div.main-image {
				display: none;
			}

			div.sidebar {
				display: none;
			}

			div.upcoming-events {
				display: none;
			}

			div.upcoming-events-mobile {
				display: none;
			}

			div.facility-type-mobile {
		       	position: absolute;
		       	width: 60%;
		       	height: 45px;
		       	margin-top: 141px;
		       	margin-left: 20%;
		       	background-color: white;
		       	z-index: 75;
		       	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
		       	text-align: center;
		       	line-height: 45px;
		       	color: @mainColor;
		       	font-family: @mainFont;

		       	p {
		       		margin: 0;
		       		padding: 0;
		       	}
		    }

			.swiper-container {
				display: block;
    		    width: 100%;
		        height: 65vh;
		        margin-top: 121px;
		        margin-left: auto;
		        margin-right: auto;

		        .swiper-wrapper {

		        	.swiper-slide {
		        		text-align: center;
		        		font-size: 18px;
				        background: #fff;
				
    		    		/* Center slide text vertically */
    		    		display: -webkit-box;
    		    		display: -ms-flexbox;
    		    		display: -webkit-flex;
    		    		display: flex;
    		    		-webkit-box-pack: center;
    		    		-ms-flex-pack: center;
    		    		-webkit-justify-content: center;
    		    		justify-content: center;
    		    		-webkit-box-align: center;
    		    		-ms-flex-align: center;
    		    		-webkit-align-items: center;
    		    		align-items: center;

    		    		img {
    		    			width: 100%;
    		    		}
		        	}
		        }
		    }

		    div.facility-description-mobile {
		    	display: block;
		    	width: 100%;
		    	margin-top: 10px;
		    	background-color: white;
		    	text-align: justify;
		    	font-family: @mainFont;

		    	p {
		    		margin-left: 10px;
		    		margin-right: 10px;
		    		padding-bottom: 15px;
		    	}
		    }

		    a {
		    	text-decoration: none;

		    	div.upcoming-events-mobile {
		    			display: block;
		    			width: 60%;
			    		height: 6vh;
			    		position: relative;
			    		left: 20%;
			    		bottom: 10px;
			    		border: 1px solid @mainColor;
			    		box-sizing: border-box;
			    		line-height: 6vh;
			    		text-align: center;
			    		color: @mainColor;
			    		font-family: @mainFont;
	
		    		p {
		    			padding: 0;
		    			margin: 0;
		    		}
		    	}
		    }
		}
	}
}