@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
}

div.headermobile {
	display: none;
}

div.booknowmobile {
	display: none;
}

div.swiper-container {
	display: none;
}
div.facility-type-mobile {
	display: none;
}
div.facility-description-mobile {
	display: none;
}

header {
	width: 100%;
	height: 8vh;
	background-color: @thirdColor;
	position: fixed;
	border: 1px solid @mainColor;
	border-width: 0px 0px 1px 0px;
	z-index: 100;

	div.hamburger-himself {
		width: 5%;
		height: 100%;
		position: absolute;
		margin-left: 1.5vw;
		text-align: left;
		line-height: 8vh;
		font-size: 32px;
		color: @mainColor;

		a {
			text-decoration: none;
			color: @mainColor;
		}
	}

	div.centered-logo {
		position: absolute;
		width: 20%;
		height: 100%;
		margin-left: 40%;

		img {
			height: 34px;
			position: absolute;
    		margin: auto;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}

	div.book-now-box {
		width: 15%;
		height: 100%;
		position: absolute;
		right: 1.5vw;
		text-align: right;
		line-height: 8vh;

		a {
			text-decoration: none;
			color: @mainColor;
			font-family: @mainFont;
			font-weight: lighter;
			font-size: 20px;
		}
	}
}

div.main-image {
	width: 60%;
	height: 92vh;
	margin-top: 8vh;
	position: absolute;
	z-index: 10;
	background-image: url("../images/studio.jpg");
	background-size: 100%;
	background-position: center;

	div.type-mobile {
		display: none;
	}
}

div.sidebar {
	width: 40%;
	height: 92vh;
	margin-top: 8vh;
	margin-left: 60%;
	position: absolute;
	z-index: 10;

	div.type-of-facility {
		width: 70%;
		height: 25px;
		margin-left: 15%;
		background-color: @mainColor;
		text-align: center;
		line-height: 25px;
		color: white;
		font-family: @mainFont;
		font-weight: lighter;
		font-size: 14px;

		p {
			margin: 0;
		}
	}

	div.choose-image {
		width: 36vw;
		height: 27vw;
		margin-left: 2vw;
		margin-top: 3vh;

		div.small-image-box {
			display: inline-block;
			width: 8.5vw;
			height: 8.5vw;
			margin-left: 0.2vw;
			margin-top: 0.2vw;

			&:nth-child(1) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(2) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(3) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(4) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(5) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(6) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(7) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(8) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(9) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(10) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(11) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}

			&:nth-child(12) {
				background-image: url("../images/studio2.jpg");
				background-size: 100% 100%;
			}
		}
	}

	div.facility-definition {
		width: 88%;
		height: 15%;
		margin-left: 6%;
		text-align: justify;
		font-family: @mainFont;
		color: black;
		font-size: 12px;
		margin-top: 10px;
		font-weight: bold;

		p {
			margin: 0;
			padding: 0;
		}
	}

	a {
		text-decoration: none;
		color: @mainColor;

		div.upcoming-events {
			width: 90%;
			height: 40px;
			margin-left: 5%;
			border: 1px solid @mainColor;
			box-sizing: border-box;
			text-align: center;
			line-height: 40px;
			font-family: @mainFont;
			color: @mainColor;
			font-weight: lighter;
			margin-top: 3vh;
			position: relative;
	
	
				p {
					margin: 0;
					padding: 0;
				}
	
				div.arrow {
					position: absolute;
					width: 10%;
					height: 100%;
					top: 0;
					right: 0;
					text-align: center;
					color: @mainColor;
				}
		}
	}
}