@media screen and (min-width:1000px) and (max-width:1200px){
	html > body {
		background-size: 130% 110%;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container {
		font-size: 15px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) > div.ranges > p {
		font-size: 15px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-photo {
		height: 80px;
		width: 80px;
		margin-top: 10px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name > p {
		font-size: 15px;
	}
	div.main-logo-box {
		margin-top: 0px !important;
	}
}

/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */

@media screen and (min-width: 500px) and (max-width:750px){
	html > body {
		background-size: 100% 100%;
	}
	div.first-container > header {
		margin-top: 0px;
	}
	div.first-container > header > div.join-or-sign-box{
		width: 30%;
		margin-left: 35%;
	}
	div.first-container > div.hamburger-container {
		margin-top: 50px;
	}
	div.first-container > div.book-now-box {
		margin-top: 55px;
		height: 30px;
	}
	div.first-container > div.book-now-box > a {
		line-height: 30px;
	}
	div.first-container > div.main-logo-box {
		width: 26%;
		margin-left: 37%;
	}
	div.first-container > div.main-logo-box > img {
		margin-top: 25px;
	}
	div.first-container > div.main-landing-menu {
		height: 150px;
		margin-top: 45vh;
	}
	div.first-container > div.main-landing-menu > a {
		display: inline-block;
		width: 19%;
		height: 100%;
		line-height: 150px;
		text-decoration: none;
		color: white;
		font-family: "open sans";
		font-weight: bold;
		text-shadow: 1px 1px black;
		font-size: 10px;
		transition: 0.2s;
	}
	div.first-container > div.div-for-chevron {
		height: 20px;
	}
	div.first-container > div.div-for-chevron > img {
		height: 20px
	}
	div.second-container > div.about-us-container > div.events-container {
		height: 320px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type {
		height: 280px;
		width: 88%;
		background-image: url("images/events_background_bbq.jpg");
		background-size: 100% 120%;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p {
		line-height: 120%;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(1) { 
		font-size: 12px;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(2) { 
		font-size: 36px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box {
		width: 200px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p.head-event-date {
		font-size: 10px;
		padding-top: 5px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p.type-of-event {
		font-size: 28px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a >  div.head-event-box > div.join-head-event {
		height: 20px;
		margin-top: 3px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > div.join-head-event > p {
		line-height: 19px;
		font-size: 12px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box {
		width: 240px;
		height: 270px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > img {
		height: 30px;
		top: 15px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.empty-div-event-box {
		width: 100%;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box  > a > div.head-event-box-right-column > p:nth-child(1){
		font-size: 10px;
		padding-top: 5px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box  > a > div.head-event-box-right-column:nth-child(1) {
		margin-top: 40px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box  > a > div.head-event-box-right-column > p:nth-child(2){
		font-size: 24px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.more-events {
		height: 50px;
		width: 240px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.more-events > p {
		line-height: 50px;
		font-size: 18px;
	}
	div.faq > div.each-faq > div.gradient-div-for-different-resolutions {
		width: 15%;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
		z-index: 10;
	}
	div.second-container > div.map-and-transfers > div.container-for-a-map {
		height: 250px;
	}
	div.second-container > div.map-and-transfers > div.adress-container > div.row > div.col-md-4 > div.location-pin > img {
		height: 40px;
	}
	div.second-container > div.map-and-transfers > div.adress-container > div.row > div.col-md-4 > div.location-text {
		font-size: 12px;
	}
	div.second-container > div.map-and-transfers > div.adress-container {
		height: 220px;
	}
	div.second-container > div.map-and-transfers > div.adress-container  > div.each-adress-container {
		display: block;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(1) {
		width: 50%;
		position: relative;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(1) > div.container-for-a-location-pin {
		width: 100%;
		margin-top: -15px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(1) > div.container-for-a-location-pin > img {

	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(1) > div.container-for-a-location-text {
		text-align: center;
		width: 100%;
		margin-top: 70px;
		font-size: 16px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) {
		width: 50%;
		position: relative;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) > div.ranges {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) > div.ranges > p {
		font-size: 16px;
		padding: 0;
		line-height: 24px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) > div.ranges > p > img {
		height: 20px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(2) > div.just-for-a-horizontal-line {
		display: block;
		position: absolute;
		margin-left: 90%;
		top: -130px;
		height: 180px;
		margin-top: 
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) {
		position: absolute;
		width: 50%;
		bottom: 0;
		right: 0;
		display: block;
		height: 220px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-photo {
		position: relative;
		margin: 0 auto;
		top: 10px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name {
		position: relative;
		width: 100%;
		text-align: center;
		margin-left: 8px;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name > div.just-for-a-line-driver {
		width: 30%;
		margin-left: 35%;
	}
	div.third-container > div.container-for-forms {
		width: 90%;
		margin-left: 5%;
	}
	div.third-container > div.contacts-container > div.contacts-facilities {
		width: 90%;
		margin-left: 5%;
	}
	div.third-container > div.contacts-container > div.contacts-facilities > a > p {
		font-size: 16px;
		padding-left: 8px;
		padding-right: 8px;
	}
	div.third-container > div.contacts-container > div.contacts-submenu {
		width: 90%;
		margin-left: 5%;
	}
	div.third-container > div.contacts-container > div.contacts-submenu > a > p {
		font-size: 12px;
		padding-right: 6px;
		padding-left: 6px;
	}
	div.third-container > div.container-for-forms {
		width: 90%;
		margin-left: 5%;
	}
	div.third-container > div.contacts-container > div.social-media-container {
		width: 50%;
		margin-left: 25%;
	}
}

/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */

@media screen and (min-width: 300px) and (max-width: 500px) {
	html > body {
		background-color: transparent;
	}
	div.first-container {
		width: 100%;
		position: relative;
		height: 100vh;
		background-image: url("images/landing_background.jpg");
		background-size: 300% 100%;
		background-position: left;
	}
	#stickytypeheader {
		display: none;
	}
	div.first-container > div.headermobile {
		width: 100%;
		height: 60px;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		display: block;
		z-index: 120;
		line-height: 60px;
		font-size: 24px;
	}
	div.first-container > div.booknowmobile {
		width: 100%;
		height: 60px;
		position: fixed;
		top: 60px;
		left: 0;
		background-color: #cba45f;
		display: block;
		z-index: 120;
		line-height: 60px;
		font-size: 24px;
	}
	div.first-container > header {
		width: 100%;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	div.first-container > header > div.change-languages {
		display: none;
	}
	div.first-container > header > div.join-or-sign-box {
		display: none;
	}
	div.first-container > div.hamburger-container {
		margin: 0;
		display: none;
	}
	div.first-container > div.hamburger-container > div.for-hamburger-himself {
		line-height: 50px;
	}
	div.first-container > div.hamburger-container > div.for-menu-text {
		display: none;
	}
	div.first-container > div.book-now-box {
		width: 100%;
		margin-right: 0;
		margin-top: 50px;
		height: 50px;
		line-height: 50px;
		display: none;
	}
	div.first-container > div.book-now-box > a {
		font-size: 18px;
	}
	div.first-container > div.main-logo-box {
		width: 30%;
		height: 40px;
		margin-top: 0;
	}
	div.first-container > div.main-logo-box > img:nth-child(1)	{
		display: none;
	}
	div.first-container > div.main-logo-box > img:nth-child(2) {
		width: 100%;
		display: block;
		margin-top: 14px;
		display: none;
	}
	div.first-container > div.main-landing-menu {
		width: 100%;
		margin-top: 25vh;
		height: 60vh;
	}
	div.first-container > div.main-landing-menu > a {
		display: block;
		width: 100%;
		height: 12.5vh;
		line-height: 12.5vh;
		text-decoration: none;
		color: white;
		font-family: "open sans";
		font-weight: lighter;
		font-size: 18px;
		transition: 0.2s;
	}

	div.first-container > div.main-landing-menu > a:nth-child(1) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 0px 0px 1px 0px;
	}

	div.first-container > div.main-landing-menu > a:nth-child(3) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 1px 0px 1px 0px;
	}

	div.first-container > div.main-landing-menu > a:nth-child(4) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 0px 0px 1px 0px;
	}


/* second container styler */
/* second container styler */
/* second container styler */
/* second container styler */
	div.second-container {
		background-image: url("images/about_us_sea_beachground.jpg");
		background-size: 300% 100%;
	}
	div.second-container > div.about-us-container > div.about-us-head > p {
		font-size: 36px;
	}
	div.second-container > div.about-us-container > div.events-container {
		position: relative;
		width: 100%;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p {
		transform: rotate(0deg);
		font-family: "open sans";
		line-height: 150%;
		color: #a1814b;
		padding-top: 10px;
		text-align: center;
		padding-top: 10vh;
		line-height: 
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(1){
		font-size: 36px;
		font-weight: lighter;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(2){
		font-size: 36px;
		font-weight: lighter;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type {
		width: 100%;
		position: relative;
		background-color: white;
		background-image: url("images/eventds_background_bbq.jpg");
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box {
		width: 74%;
		position: relative;
		margin-left: 13%;
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
		margin-top: 10vh;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p.head-event-date {
		font-size: 12px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type  > a> div.head-event-box > p.type-of-event {
		padding-bottom: 1vh;
		font-size: 28px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p {
		width: 100%;
		text-align: center;
		margin: 0;
	}
	span.upevent {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box {
		position: relative;
		width: 74%;
		margin-left: 13%;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > div.join-head-event {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column {
		box-sizing: border-box;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.empty-div-event-box {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column >  p.head-event-date {
		font-size: 12px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p.type-of-event {
		padding-bottom: 1vh;
		font-size: 28px;
	}
	
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column:nth-child(1) {
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column:nth-child(3) {
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p {
		width: 100%;
		text-align: center;
		margin: 0;
		padding-top: 0;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p.head-event-date {
		padding-top: 2vh;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > img {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.more-events {
		width: 60%;
		height: 40px;
		line-height: 40px;
		margin-left: 20%;
		margin-top: 20px;
	}
	div.second-container > div.faq {
		margin-top: 20vh;
	}
	div.faq > div.each-faq > div.gradient-div-for-different-resolutions {
		width: 15%;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
		z-index: 10;
	}
	div.faq > div.faq-head-text {
		font-size: 36px;
	}
	div.map-and-transfers > div.map-and-transfers-head-text {
		font-size: 36px;
	}
	div.map-and-transfers > div.adress-container {
		height: 480px;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container {
		position: relative;
		width: 100%;
		margin-left: 0;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-pin {
		width: 100%;
		position: relative;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-pin > img {
		margin: 0 auto;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-text {
		width: 100%;
		text-align: center;
		font-size: 18px;
		position: relative;
		margin-top: -3vh;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.just-for-a-horizontal-line {
		display: none;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container:nth-child(2) > div.ranges {
		position: relative;
		width: 100%;
		text-align: center;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container:nth-child(3) {
		position: relative;
		width: 100%;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-photo {
		position: relative;
		top: 10px;
		left: 0;
		margin: 0 auto;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name {
		position: relative;
		text-align: center;
		width: 100%;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name > div.just-for-a-line-driver {
		margin: 0 auto;
		margin-top: 0.5vh;
		margin-bottom: 0.5vh;
	}

	/* third container styles */
	/* third container styles */
	/* third container styles */
	/* third container styles */
	div.third-container {
		background-image: url("images/about_us_sea_beachground.jpg");
		background-size: 100% 100%;
	}
	div.third-container > div.contact-us-head-text {
		font-size: 36px;
	}
	div.third-container > div.container-for-forms {
		width: 80%;
		margin-left: 10%;
		height: 500px;
	}
	div.third-container > div.container-for-forms > div.left-form {
		position: relative;
		width: 100%;
		text-align: center;
	}
	div.third-container > div.container-for-forms > div.left-form > form {
		position: relative;
	}
	div.third-container > div.container-for-forms > div.right-form {
		position: relative;
		width: 100%;
		text-align: center;
	}
	div.third-container > div.container-for-forms > div.right-form > form {
		position: relative;
	}
	div.third-container > div.container-for-forms > div.right-form > div.send-box {
		width: 40%;
		margin-top: 30px;
		float: none;
		margin-left: 30%;
	}
	div.third-container > div.contacts-container > div.newsletter-div {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div.third-container > div.contacts-container > div.newsletter-div > p {
		padding-bottom: 10px;
	}
	div.third-container > div.contacts-container > div.main-logo-contact-box {
		width: 40%;
		margin-left: 30%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div.third-container > div.contacts-container > div.contacts-facilities {
		width: 100%;
		margin-left: 0%;
	}
	div.third-container > div.contacts-container > div.contacts-facilities > a > p {
		padding-right: 5px;
		padding-left: 5px;
		font-size: 12px;
	}
	div.third-container > div.contacts-container > div.contacts-submenu {
		width: 100%;
	}
	div.third-container > div.contacts-container > div.contacts-submenu > a > p {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 12px;
	}
	div.third-container > div.contacts-container > div.social-media-container {
		width: 100%;
		margin-left: 3.5%;
		margin-top: 1vh;
	}
}

/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */
/* new media query */ /* new media query */ /* new media query */

@media screen and (min-width: 765px) and (max-width: 780px) {
	div.first-container {
		width: 100%;
		position: relative;
		height: 100vh;
		background-image: url("images/landing_background.jpg");
		background-size: 300% 100%;
		background-position: left;
	}
	div.first-container > header {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	div.first-container > div.headermobile {
		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		display: block;
		z-index: 120;
		line-height: 80px;
		font-size: 36px;
	}
	div.first-container > div.booknowmobile {
		width: 100%;
		height: 80px;
		position: fixed;
		top: 80px;
		left: 0;
		background-color: #cba45f;
		display: block;
		z-index: 120;
		line-height: 80px;
		font-size: 36px;
	}
	#stickytypeheader {
		display: none;
	}
	div.first-container > header > div.change-languages {
		display: none;
	}
	div.first-container > header > div.join-or-sign-box {
		display: none;
	}
	div.first-container > div.hamburger-container {
		margin: 0;
		display: none;
	}
	div.first-container > div.hamburger-container > div.for-hamburger-himself {
		line-height: 80px;
		font-size: 42px;
		margin-left: 10px;
	}
	div.first-container > div.hamburger-container > div.for-menu-text {
		display: none;
	}
	div.first-container > div.book-now-box {
		width: 100%;
		margin-right: 0;
		margin-top: 80px;
		height: 80px;
		line-height: 80px;
		display: none;
	}
	div.first-container > div.book-now-box > a {
		font-size: 24px;
		line-height: 80px;
	}
	div.first-container > div.main-logo-box {
		width: 30%;
		height: 40px;
		margin-top: 0;
	}
	div.first-container > div.main-logo-box > img:nth-child(1)	{
		display: none;
	}
	div.first-container > div.main-logo-box > img:nth-child(2) {
		width: 100%;
		display: none;
		margin-top: 14px;
	}
	div.first-container > div.main-landing-menu {
		width: 100%;
		margin-top: 25vh;
		height: 60vh;
	}
	div.first-container > div.main-landing-menu > a {
		display: block;
		width: 100%;
		height: 12.5vh;
		line-height: 12.5vh;
		text-decoration: none;
		color: white;
		font-family: "open sans";
		font-weight: lighter;
		font-size: 24px;
		transition: 0.2s;
	}

	div.first-container > div.main-landing-menu > a:nth-child(1) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 0px 0px 1px 0px;
	}

	div.first-container > div.main-landing-menu > a:nth-child(3) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 1px 0px 1px 0px;
	}

	div.first-container > div.main-landing-menu > a:nth-child(4) {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-width: 0px 0px 1px 0px;
	}
	div.second-container > div.about-us-container > div.about-us-head > p {
		font-size: 48px;
	}
	div.second-container > div.about-us-container > div.events-container {
		position: relative;
		width: 100%;
		height: 680px;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p {
		transform: rotate(0deg);
		font-family: "open sans";
		line-height: 150%;
		color: #a1814b;
		padding-top: 10px;
		text-align: center;
		padding-top: 10vh;
		line-height: 
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(1){
		font-size: 48px;
		font-weight: lighter;
	}
	div.second-container > div.about-us-container > div.events-container > div.upcoming-events > p > span:nth-child(2){
		font-size: 48px;
		font-weight: lighter;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type {
		width: 100%;
		margin-top: -3vh;
		position: relative;
		background-color: white;
		background-image: url("images/eventds_background_bbq.jpg");
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box {
		width: 50%;
		position: relative;
		margin-left: 25%;
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
		margin-top: 10vh;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p.head-event-date {
		font-size: 18px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p.type-of-event {
		padding-bottom: 1vh;
		font-size: 36px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > p {
		width: 100%;
		text-align: center;
		margin: 0;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box {
		position: relative;
		width: 50%;
		margin-left: 25%;

	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > a > div.head-event-box > div.join-head-event {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column {
		box-sizing: border-box;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.empty-div-event-box {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column >  p.head-event-date {
		font-size: 18px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p.type-of-event {
		padding-bottom: 1vh;
		font-size: 36px;
	}
	
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column:nth-child(1) {
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column:nth-child(3) {
		border: 1px solid #a1814b;
		border-width: 0px 0px 1px 0px;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p {
		width: 100%;
		text-align: center;
		margin: 0;
		padding-top: 0;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > p.head-event-date {
		padding-top: 2vh;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.head-event-box-right-column > img {
		display: none;
	}
	div.second-container > div.about-us-container > div.events-container > div.events-by-type > div.other-events-box > a > div.more-events {
		width: 60%;
		height: 40px;
		line-height: 40px;
		margin-left: 20%;
		margin-top: 20px;
	}
	div.second-container > div.faq {
	}
	div.faq > div.each-faq > div.gradient-div-for-different-resolutions {
		width: 15%;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
		z-index: 10;
	}
	div.faq > div.faq-head-text {
		font-size: 48px;
	}
		div.map-and-transfers > div.map-and-transfers-head-text {
		font-size: 48px;
	}
	div.map-and-transfers > div.adress-container {
		height: 480px;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container {
		position: relative;
		width: 100%;
		margin-left: 0;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-pin {
		width: 100%;
		position: relative;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-pin > img {
		margin: 0 auto;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.container-for-a-location-text {
		width: 100%;
		text-align: center;
		font-size: 18px;
		position: relative;
		margin-top: -3vh;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container > div.just-for-a-horizontal-line {
		display: none;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container:nth-child(2) > div.ranges {
		position: relative;
		width: 100%;
		text-align: center;
	}
	div.map-and-transfers > div.adress-container > div.each-adress-container:nth-child(3) {
		position: relative;
		width: 100%;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-photo {
		position: relative;
		top: 10px;
		left: 0;
		margin: 0 auto;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name {
		position: relative;
		text-align: center;
		width: 100%;
	}
	div.second-container > div.map-and-transfers > div.adress-container >  div.each-adress-container:nth-child(3) > div.drivers-name > div.just-for-a-line-driver {
		margin: 0 auto;
		margin-top: 0.5vh;
		margin-bottom: 0.5vh;
	}
	div.third-container > div.container-for-forms {
		width: 80%;
		margin-left: 10%;
	}
	div.third-container > div.contacts-container > div.contacts-facilities {
		width: 80%;
		margin-left: 10%;
	}
	div.third-container > div.contacts-container > div.contacts-facilities > a > p {
		padding-left: 20px;
		padding-right: 20px;
	}
	div.third-container > div.contacts-container > div.contacts-submenu {
		width: 99%;
		margin-left: 0.5%;
	}
	div.third-container > div.contacts-container > div.contacts-submenu > a {

	}
	div.third-container > div.contacts-container > div.contacts-submenu > a > p {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}