@media screen and (min-width: 300px) and (max-width: 500px) {

	html {

		body {

			background-color: transparent;

			div.first-container {
				width: 100%;
				position: relative;
				height: 100vh;
				background-image: url("../images/landing_background.jpg");
				background-size: 300% 100%;
				background-position: left;

				#stickytypeheader {
					display: none;
				}

				div.headermobile {
					width: 100%;
					height: 60px;
					position: fixed;
					top: 0;
					left: 0;
					background-color: white;
					display: block;
					z-index: 120;
					line-height: 60px;
					font-size: 24px;
				}

				div.booknowmobile {
					width: 100%;
					height: 60px;
					position: fixed;
					top: 60px;
					left: 0;
					background-color: #cba45f;
					display: block;
					z-index: 120;
					line-height: 60px;
					font-size: 18px;
				}

				header {
					width: 100%;
					height: 50px;
					position: absolute;
					top: 0;
					left: 0;
					display: none;

					div.change-languages {
						display: none;
					}

					div.join-or-sign-box {
						display: none;
					}
				}

				div.hamburger-container {
					margin: 0;
					display: none;

					div.for-hamburger-himself {
						line-height: 50px;
					}

					div.for-menu-text {
						display: none;
					}
				}

				div.book-now-box {
					display: none;

				}

				div.main-logo-box {
					width: 30%;
					height: 40px;
					margin-top: 0;

					img {

						&:nth-child(1) {
							display: none;
						}

						&:nth-child(2) {
							width: 100%;
							display: block;
							margin-top: 14px;
							display: none;
						}
					}
				}

				div.main-landing-menu {
					width: 100%;
					margin-top: 25vh;
					height: 60vh;

					a {
						display: block;
						width: 100%;
						height: 12.5vh;
						line-height: 12.5vh;
						text-decoration: none;
						font-size: 18px;
						transition: 0.2s;

						&:nth-child(1) {
						border: 1px solid rgba(255, 255, 255, 0.5);
						border-width: 0px 0px 1px 0px;
						}
						&:nth-child(3) {
							border: 1px solid rgba(255, 255, 255, 0.5);
							border-width: 1px 0px 1px 0px;
						}
						&:nth-child(4) {
							border: 1px solid rgba(255, 255, 255, 0.5);
							border-width: 0px 0px 1px 0px;
						}
					}
				}
			}

			div.second-container {


				div.about-us-container {

					div.about-us-head {

						p {
							font-size: 36px;
							margin: 0;
						}
					}

					div.events-container {
						position: relative;
						width: 100%;
						background-color: rgba(255, 255, 255, 0.5);
	
						div.upcoming-events {
							position: relative;
							top: 0;
							left: 0;
							width: 100%;

							p {
								transform: rotate(0deg);
								font-family: "open sans";
								line-height: 150%;
								color: #a1814b;
								padding-top: 10px;
								text-align: center;
								padding-top: 10vh;

								span.upevent {
									display: none;
								}
	
								span {
									
									&:nth-child(1) {
										font-size: 36px;
										font-weight: lighter;
									}
									&:nth-child(2) {
										font-size: 36px;
										font-weight: lighter;
									}
								}
							}
						}
	
						div.events-by-type {
							width: 100%;
							position: relative;
							background-color: white;
							background-image: url("../images/events_background_bbq.jpg");
	
							a {
	
								div.head-event-box {
									width: 96%;
									position: relative;
									margin-left: 2%;
									border: 1px solid #a1814b;
									border-width: 0px 0px 1px 0px;
									margin-top: 10vh;
									background-image: url("../images/events_background_bbq.jpg");
									background-size: 100%;

									p.head-event-date {
										font-size: 12px;
										width: 100%;
										text-align: center;
										margin: 0;
										color: white;
									}
	
									p.type-of-event {
										padding-bottom: 1vh;
										font-size: 28px;
										width: 100%;
										text-align: center;
										margin: 0;
										color: white;
									}
	
									div.join-head-event {
										display: none;
									}
								}
							}
	
							div.other-events-box {
								position: relative;
								width: 96%;
								margin-left: 2%;
	
								div.empty-div-event-box {
									display: none;
								}
	
								a {
	
									div.head-event-box-right-column  {
										box-sizing: border-box;

										&:nth-child(1) {
											border: 1px solid #a1814b;
											border-width: 0px 0px 1px 0px;
										}

										&:nth-child(3) {
											border: 1px solid #a1814b;
											border-width: 0px 0px 1px 0px;
										}

										p {
											width: 100%;
											text-align: center !important;
											margin: 0;
											padding-top: 0;
										}

										p.head-event-date {
											font-size: 12px;
											padding-top: 2vh;
											margin-left: 0px;
											color: white;
										}

										p.type-of-event {
											padding-bottom: 1vh;
											font-size: 28px;
											margin-left: 0px;
											color: white;
										}

										img {
											display: none;
										}
									}

									&:nth-child(1) {
										div.head-event-box-right-column {
											background-image: url("../images/events_background_salsa.jpg");
											background-size: 100%;
										}
									}
									&:nth-child(2) {
										div.head-event-box-right-column {
											background-image: url("../images/events_background_yoga.jpg");
											background-size: 100%;
										}
									}
									&:nth-child(3) {
										div.head-event-box-right-column {
											background-image: url("../images/events_background_football.jpg");
											background-size: 100%;
										}
									}


									div.more-events {
										width: 60%;
										height: 40px;
										line-height: 40px;
										margin-left: 20%;
										margin-top: 20px;
									}
								}
							}
						}
					}
				}

				div.faq {
					margin-top: 20vh;

					div.faq-head-text {
						font-size: 36px;
					}

					div.each-faq {

						div.gradient-div-for-different-resolutions {
							width: 15%;
							height: 40px;
							position: absolute;
							right: 0;
							top: 0;
							display: block;
							background: linear-gradient(90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
							z-index: 10;
						}
					}
				}

				div.map-and-transfers {

					div.map-and-transfers-head-text {
						font-size: 36px;
					}

					div.adress-container {
						height: 480px;
					}

					div.adress-container {

						div.each-adress-container {
							position: relative;
							width: 100%;
							margin-left: 0;

							div.container-for-a-location-pin {
								width: 100%;
								position: relative;

								img {
									margin: 0 auto;
								}
							}

							div.container-for-a-location-text {
								width: 100%;
								text-align: center;
								font-size: 18px;
								position: relative;
								margin-top: -3vh;
							}

							div.just-for-a-horizontal-line {
								display: none;
							}

							&:nth-child(2) {

								div.ranges {
									position: relative;
									width: 100%;
									text-align: center;
								}
							}

							&:nth-child(3) {
								position: relative;
								width: 100%;

								div.drivers-photo {
									position: relative;
									top: 10px;
									left: 0;
									margin: 0 auto;
								}

								div.drivers-name {
									position: relative;
									text-align: center;
									width: 100%;

									div.just-for-a-line-driver {
										margin: 0 auto;
										margin-top: 0.5vh;
										margin-bottom: 0.5vh;
									}
								}
							}
						}
					}
				}
			}

			div.third-container {
				background-image: url("../images/about_us_sea_beachground.jpg");
				background-size: 100% 100%;

				div.contact-us-head-text {
					font-size: 36px;
					margin-top: 0px;
				}

				div.container-for-forms {
					width: 80%;
					margin-left: 10%;
					height: 500px;

					div.left-form {
						position: relative;
						width: 100%;
						text-align: center;

						form {
							position: relative;
						}
					}

					div.right-form {
						position: relative;
						width: 100%;
						text-align: center;

						form {
							position: relative;
						}

						div.send-box {
							width: 40%;
							margin-top: 30px;
							float: none;
							margin-left: 30%;
						}
					}
				}
			}

			div.fourth-container {
				
				div.contacts-container {

					div.newsletter-div {
						margin-top: 10px;
						margin-bottom: 10px;

						p {
							padding-bottom: 10px;
						}
					}

					div.main-logo-contact-box {
						width: 40%;
						margin-left: 30%;
						margin-top: 10px;
						margin-bottom: 10px;
					}

					div.contacts-facilities	{
						width: 100%;
						margin-left: 0%;

						a {

							p {
								padding-right: 5px !important;
								padding-left: 5px !important;
								font-size: 12px !important;
							}
						}
					}

					div.contacts-submenu {
						width: 100%;

						a {

							p {
								padding-left: 5px !important;
								padding-right: 5px !important;
								font-size: 12px !important;
							}
						}
					}

					div.social-media-container {
						width: 100%;
						margin-left: 3.5%;
						margin-top: 1vh;
					}
				}
			}

			div.transparent-container {

			}
		}
	}
}
