@media screen and (min-width: 500px) and (max-width:750px) {
	
	html {
	
		body {
			background-size: 100% 100%;
	
			div.first-container {
	
				header {
					margin-top: 0px;
	
					div.join-or-sign-box {
						width: 30%;
						margin-left: 35%;
					}
				}
	
				div.hamburger-container {
					margin-top: 50px;
				}
	
				div.book-now-box {
					margin-top: 55px;
					height: 30px;
	
					a {
						line-height: 30px !important;
						height: 30px !important;
					}
				}
	
				div.main-logo-box {
					width: 26%;
					margin-left: 37%;
	
					img {
						margin-top: 25px;
					}
				}
	
				div.main-landing-menu {
					height: 150px;
					margin-top: 45vh;
	
					a {
						display: inline-block;
						width: 19%;
						height: 100%;
						line-height: 150px;
						text-decoration: none;
						color: white;
						font-weight: bold;
						text-shadow: 1px 1px black;
						font-size: 10px;
						transition: 0.2s;
					}
				}
	
				div.div-for-chevron {
					height: 20px;
	
					img {
						height: 20px;
					}
				}
			}
	
			div.second-container {
	
				div.about-us-container {
	
					div.events-container {
						height: 320px;
	
						div.upcoming-events {
	
							p {
								line-height: 120%;
	
								span {
									
									&:nth-child(1) {
										font-size: 12px;
									}
									&:nth-child(2) {
										font-size: 36px;
									}
								}
							}
						}
	
						div.events-by-type {
							height: 280px;
							width: 88%;
							background-image: url("../images/events_background_bbq.jpg");
							background-size: 100% 120%;
	
							a {
	
								div.head-event-box {
									width: 200px;
	
									p.head-event-date {
										font-size: 10px;
										padding-top: 5px;
									}
	
									p.type-of-event {
										font-size: 28px;
									}
	
									div.join-head-event {
										height: 20px;
										margin-top: 3px;
	
										p {
											line-height: 19px;
											font-size: 12px;
										}
									}
								}
							}
	
							div.other-events-box {
								width: 240px;
								height: 270px;
	
								div.empty-div-event-box {
									width: 100%;
								}
	
								a {
	
									div.head-event-box-right-column  {
	
										&:nth-child(1) {
											margin-top: 40px;
										}
	
										img {
											height: 30px;
											top: 15px;
										}
	
										p {
											&:nth-child(1) {
												font-size: 10px;
												padding-top: 5px;
											}
											&:nth-child(2) {
												font-size: 24px;
											}
										}
									}
	
									div.more-events {
										height: 50px;
										width: 240px;
	
										p {
											line-height: 50px;
											font-size: 18px;
										}
									}
								}
							}
						}
					}
				}
	
				div.faq {
	
					div.each-faq {
	
						div.gradient-div-for-different-resolutions {
							width: 15%;
							height: 40px;
							position: absolute;
							right: 0;
							top: 0;
							display: block;
							background: linear-gradient(90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
							z-index: 10;
						}
					}
				}
	
				div.map-and-transfers {
	
					div.container-for-a-map {
						height: 250px;
					}
	
					div.adress-container {
						height: 220px;
	
						div.row {
	
							div.col-md-4 {
	
								div.location-pin {
	
									img {
										height: 40px;
									}
								}
	
								div.location-text {
									font-size: 12px;
								}
							}
						}
	
						div.each-adress-container {
							display: block;
	
							&:nth-child(1) {
								width: 50%;
								position: relative;
	
								div.container-for-a-location-pin {
									width: 100%;
									margin-top: -15px;
								}
	
								div.container-for-a-location-text {
									text-align: center;
									width: 100%;
									margin-top: 70px;
									font-size: 16px;
								}
							}
	
							&:nth-child(2) {
								width: 50%;
								position: relative;
	
								div.ranges {
									position: relative;
									width: 100%;
									text-align: center;
									margin-top: 50px;
	
									p {
										font-size: 16px;
										padding: 0;
										line-height: 24px;
	
										img {
											height: 20px;
										}
									}
								}
	
								div.just-for-a-horizontal-line {
									display: block;
									position: absolute;
									margin-left: 90%;
									top: -130px;
									height: 180px;
								}
							}
	
							&:nth-child(3) {
								position: absolute;
								width: 50%;
								bottom: 0;
								right: 0;
								display: block;
								height: 220px;
	
								div.drivers-photo {
									position: relative;
									margin: 0 auto;
									top: 10px;
								}
	
								div.drivers-name {
									position: relative;
									width: 100%;
									text-align: center;
									margin-left: 8px;
	
									div.just-for-a-line-driver {
										width: 30%;
										margin-left: 35%;
									}
								}
							}
						}
					}
				}
			}
	
			div.third-container {
	
				div.container-for-forms {
					width: 90%;
					margin-left: 5%;
				}
	
				div.contacts-container {
					
					div.contacts-facilities {
						width: 90%;
						margin-left: 5%;
	
						a {
	
							p {
								font-size: 16px !important;
								padding-left: 8px !important;
								padding-right: 8px !important;
							}
						}
					}
	
					div.contacts-submenu {
						width: 90%;
						margin-left: 5%;
	
						a {
	
							p {
								font-size: 12px !important;
								padding-right: 6px !important;
								padding-left: 6px !important;
							}
						}
					}
	
					div.social-media-container {
						width: 50%;
						margin-left: 25%;
					}
				}
			}
		}
	}
}
	