@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

.passed-process {
	background-color: white;
	color: @mainColor;
}

.actual-process {
	border: 1px solid @secondColor;
	border-width: 0px 0px 1px 0px;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-color: white;
	background-size: 100%;
}

div.headermobile {
	display: none;
}

header {
	width: 100%;
	height: 10vh;
	top: 0;
	left: 0;
	background-color: white;

	div.main-logo-box {
		width: 30%;
		height: 100%;
		margin-left: 35%;

		div.empty-div-logo {
			width: 100%;
			height: 2vh;
		}

		img {
			height: 6vh;
			margin: 0 auto;
			display: block;
		} 
	}

	div.back-button {
		position: absolute;
		width: 10%;
		height: 10vh;
		line-height: 10vh;
		margin-left: 5%;
		text-align: center;
		font-family: @mainFont;
		color: @mainColor;
		margin-top: -10vh;
		font-size: 14px;

		p {
			padding: 0;
			margin: 0;

			a {
				text-decoration: none;
				color: @mainColor;
			}
		}
	}
}

div.reservation-process {
	width: 100%;
	height: 6vh;
	background-color: #ccc;

	div.reservation-process-inside {
		width: 60%;
		height: 100%;
		margin-left: 20%;

		div.reservation-process-etap {
			width: 25%;
			float: left;

			div.round-check {
				height: 4vh;
				width: 4vh;
				line-height: 4vh;
				color: black;
				font-size: 12px;
				margin-top: 1vh;
				border: 0.1px solid black;
				border-radius: 100%;
				box-sizing: border-box;
				float: left;
				background-color: rgba(255, 255, 255, 0);
				text-align: center;
				font-family: @mainFont;
				font-weight: bold;
			}

			#first-check {
				.passed-process;
			}

			span {
				height: 6vh;
				line-height: 6vh;
				font-family: @mainFont;
				font-weight: bold;
				color: black;
				margin-left: 10px;
				font-size: 14px;
			}

			#process-span2 {
				.actual-process;
			}
		}
	}
}

div.choosen-box-mobile {
	display: none;
}

div.main-container-form {
	width: 55%;
	margin-left: 8%;
	margin-top: 8vh;

	p {
		font-family: @mainFont;
		font-weight: bold;
	}

	div.bs-example {

		form {
			margin-top: 2vh;

			div.form-group {
				margin-top: 2vh;

				 input, label {
				 	font-weight: bold;
				 	font-family: @mainFont;
				 }

				 input {
				 	border: 1px solid #aaa;
				 	border-radius: 0px;
				 	background-color: #ccc;
				 	color: white;
				 	height: 42px;
				 }
			}

			div.form-group:nth-child(odd) {
				width: 45%;
				float: left;
			}

			div.form-group:nth-child(even) {
				width: 45%;
				float: left;
				margin-left: 2%;
			}

			div.form-group:nth-child(3) {
				width: 23%;
			}

			div.form-group:nth-child(4) {
				width: 33%;
			}
		}
	}

	div.payment-ssl {
		width: 100%;
		height: 36px;
		float: left;
		margin-top: 2vh;

		div {
			height: 36px;
			float: left;
			width: 15%;
			line-height: 36px;

			p {
				margin: 0;
				padding: 0;
				font-family: @mainFont;
				font-weight: bold;			}

			&:nth-child(2) {
				background-image: url("../images/sslcertificate.png");
				background-size: 100%;
				background-position: center;
				margin-left: 3%;
			}
		}
	}

	div.bs-example {

		form {
			margin-top: 2vh;

			div.form-group {
				margin-top: 2vh;

				 input, label {
				 	font-weight: bold;
				 	font-family: @mainFont;
				 }

				 input {
				 	border: 1px solid #aaa;
				 	border-radius: 0px;
				 	background-color: #ccc;
				 	color: white;
				 	height: 42px;
				 }
			}

			div.form-group:nth-child(odd) {
				width: 45%;
				float: left;

			}
		}
	}

	div.logos-card {
		width: 45%;
		height: 36px;
		float: left;
		margin-top: 39px;
		margin-left: 2%;

		img {
			height: 100%;
		}
	}

	div.card-date-forms {
		width: 100%;
		margin-top: 2vh;
		float: left;

		form {

			div.card-date-inside {
				width: 14.5%;
				display: inline-block;

				input, label {
				 	font-weight: bold;
				 	font-family: @mainFont;
				 }

				 input {
				 	border: 1px solid #aaa;
				 	border-radius: 0px;
				 	background-color: #ccc;
				 	color: white;
				 	height: 42px;
				}
			}
		}
	}

	div.special-requests {
		width: 100%;
		height: 36px;
		float: left;
		margin-top: 4vh;
		font-family: @mainFont;
		font-weight: bold;
		margin-left: 1%;
		font-size: 14px;

		label {
				display: block;

			span {
					margin-top: 1px;
				}
			}

			label > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				margin-top: 3px;
				margin-left: 3px;
				width: 14px;
				height: 14px;
				border: 1px solid black;
				box-sizing: border-box;
			}

			label > input {
				display: none;
			}

			label > input:checked + span:before {
				background-image: url("../images/check.png");
				background-size: 100%;
				background-position: cover;
			}
		}

	div.make-payment {
		width: 93%;
		float: left;
		background-color: #ccc;
		height: 13vh;
		margin-top: 2vh;

		div.payment-checkboxes {
			width: 50%;
			height: 100%;
			float: left;
			font-family: @mainFont;
			font-weight: bold;
			font-size: 12px;

			label {
				display: block;

				span {
						margin-top: 1px;
					}
				}

				label > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					margin-top: 3px;
					margin-left: 3px;
					width: 14px;
					height: 14px;
					border: 1px solid black;
					box-sizing: border-box;
				}

				label > input {
					display: none;
				}

				label > input:checked + span:before {
					background-image: url("../images/check.png");
					background-size: 100%;
					background-position: cover;
				}
			}

		div.total-mobile {
			display: none;
		}

		div.payment-button {
			width: 45%;
			height: 100%;
			float: right;

			div.important-button {
				width: 90%;
				height: 6vh;
				margin-top: 2vh;
				background-color: @mainColor;
				font-family: @mainFont;
				color: white;
				text-align: center;
				line-height: 6vh;

				p {
					padding: 0;
					margin: 0;
					width: 100%;
					height: 100%;

					a {
						display: block;
						width: 100%;
						height: 100%;
						text-decoration: none;
						color: white;
					}
				}
			}

			a {
				display: block;
				width: 90%;
				text-align: center;
				text-decoration: none;
				color: black;
				font-size: 12px;
				margin-top: 0.5vh;
			}
		}
	}

	div.empty-bottom-box {
		width: 100%;
		height: 5vh;
		float: left;
	}
}

div.choosen-item-main-container {
	width: 25%;
	margin-left: 67%;
	margin-top: -6vh;
	border: 1px solid #ccc;
	box-sizing: border-box;

	div.main-image {
		width: 100%;
		height: 200px;
		background-image: url("../images/studio.jpg");
		background-size: 100%;
	}

	div.choosen-room {
		width: 100%;
		height: 90px;
		position: relative;

		div.choosen-room-inside {
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;

			p {
				padding: 0;
				margin: 0;
				font-family: @mainFont;
			}

			&:nth-child(1) {
				top: 0;
				left: 0;

				p:nth-child(1) {
					font-size: 16px;
					margin-top: 2vh;
				}

				p:nth-child(2) {
					font-size: 14px;
					margin-top: 1vh;
				}

				p {
					margin-left: 10px;
				}
			}

			&:nth-child(2) {
				top: 0;
				right: 0;

				p {
					font-size: 20px;
					font-family: @mainFont;
					font-weight: bold;
					margin-top: 2vh;
					text-align: right;
					margin-right: 10px;
				}
			}
		}
	}

	div.for-underline {
		width: 96%;
		height: 1px;
		margin-left: 2%;
		color: #ccc;
		background-color: #ccc;
	}

	div.adress {
		width: 100%;
		height: 50px;

		p {
			margin: 0;
			margin-top: 5px;
			padding: 0;
			font-family: @mainFont;
			margin-left: 10px;

			&:nth-child(1) {
				margin-top: 10px;
			}
		}
	}

	div.date {
		width: 100%;
		height: 50px;
		position: relative;

		p {
			padding: 0;
			margin: 0;
			font-family: @mainFont;
			margin-left: 10px;

			&:nth-child(1) {
				margin-top: 10px;
			}

			&:nth-child(3) {
				position: absolute;
				top: 0px;
				right: 10px;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	div.per-night {
		width: 100%;
		height: 40px;
		line-height: 40px;
		position: relative;

		p {
			padding: 0;
			margin: 0;
			position: absolute;
			font-size: 14px;

			&:nth-child(1) {
				top: 0;
				left: 10px;
			}

			&:nth-child(2) {
				top: 0;
				right: 10px;
			}
		}
	}

	div.total {
		width: 100%;
		height: 60px;
		position: relative;
		font-family: @mainFont;

		p {
			padding: 0;
			margin: 0;
			position: absolute;

			&:nth-child(1) {
				top: 15px;
				left: 10px;
				font-size: 16px;
				font-weight: bold;
			}

			&:nth-child(2) {
				top: 35px;
				left: 10px;
				font-size: 12px;
				font-weight: bold;
				color: #ccc;
			}

			&:nth-child(3) {
				top: 20px;
				right: 10px;
				font-size: 16px;
				font-weight: bold;
				color: black;
			}
		}
	}

	div.map {
		width: 96%;
		height: 180px;
		margin-left: 2%;
		margin-top: 1vh;
	}

	div.just-empty-box {
		width: 100%;
		height: 5px;
	}
}