@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (max-width: 749px) {

	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
		background-color: white;
		background-size: 100%;

		header {
		display: none;
		}

		div.choosen-item-main-container {
			display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 60px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.reservation-process {
			width: 100%;
			margin-top: 60px;
			height: 12vh;

			div.reservation-process-inside {
				width: 80%;
				margin-left: 15%;

				div.reservation-process-etap {
					width: 50%;

					div.round-check {
						height: 3vh;
						width: 3vh;
						line-height: 3vh;
						color: black;
						font-size: 12px;
						margin-top: 1.5vh;
						border: 0.1px solid black;
						border-radius: 100%;
						box-sizing: border-box;
						float: left;
						background-color: rgba(255, 255, 255, 0);
						text-align: center;
						font-family: @mainFont;
						font-weight: bold;
					}

					span {
						font-size: 10px;
					}
				}
			}
		}

		div.choosen-box-mobile {
			display: block;
			width: 100%;
			height: 150px;
			position: relative;
			text-align: center;
			font-family: @mainFont;
			font-size: 18px;
			background-color: white;
			color: @mainColor;
			border: 1px solid #ccc;
			border-width: 0px 0px 1px 0px;

			p {
				margin: 0;
				padding: 0;
				position: absolute;

				&:nth-child(1) {
					width: 100%;
					top: 10px;
					left: 0;
				}

				&:nth-child(2) {
					width: 50%;
					top: 50px;
					left: 0;
				}

				&:nth-child(3) {
					width: 50%;
					top: 50px;
					left: 50%;
				}

				&:nth-child(4) {
					width: 100%;
					top: 100px;
					left: 0;
				}
			}

			div.horizontal-line {
				width: 1px;
				height: 20px;
				position: absolute;
				margin-left: 50%;
				margin-top: 55px;
				background-color: @mainColor;
				transform: rotate(20deg);
			}
		}

		div.main-container-form {
			width: 100%;
			margin-left: 0%;

			p.form-head {
				margin-left: 2%;
			}

			div.bs-example {

				form {

					div.form-group {
						width: 48% !important;
						float: left;
					}

					div.form-group:nth-child(odd) {
						margin-left: 1%;
					}
				}
			}

			div.payment-ssl {
				margin-left: 1%;
			}

			div.bs-example {

				form {
					margin-top: 2vh;

					#card-number {
						width: 98% !important;
					}
				}
			}

			div.logos-card {
				width: 98%;
				margin-left: 1%;
				margin-top: 0px;
				text-align: center;

				img {
					display: inline-block;
				}
			}

			div.card-date-forms {
				width: 98%;
				margin-left: 1%;

				div.card-date-inside {
					width: 32.5%;
				}
			}

			div.special-requests {

				label {
					display: block;

					span {
						margin-top: 1px;
					}
				}

				label > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					margin-top: 3px;
					margin-left: 3px;
					width: 14px;
					height: 14px;
					border: 1px solid black;
					box-sizing: border-box;
				}

				label > input {
					display: none;
				}

				label > input:checked + span:before {
					background-image: url("../images/check.png");
					background-size: 100%;
					background-position: cover;
				}
			}

			div.make-payment {
				width: 98%;
				margin-left: 1%;
				height: 200px;

				div.payment-checkboxes {
					width: 100%;
					height: 40%;
					float: none;
					font-family: @mainFont;
					font-weight: bold;
					font-size: 12px;

					label {
						display: block;

					span {
							margin-top: 1px;
						}
					}

					label > span:before {
						content: '';
						display: inline-block;
						position: absolute;
						margin-top: 3px;
						margin-left: 3px;
						width: 14px;
						height: 14px;
						border: 1px solid black;
						box-sizing: border-box;
					}

					label > input {
						display: none;
					}

					label > input:checked + span:before {
						background-image: url("../images/check.png");
						background-size: 100%;
						background-position: cover;
					}
				}

				div.total-mobile {
					width: 100%;
					height: 30px;
					display: block;

					p {
						padding: 0;
						margin: 0;
						display: inline-block;
						font-family: @mainFont;
						font-weight: bold;

						&:nth-child(1) {
							font-size: 16px;
							width: 40%;
							margin-left: 3px;
							text-align: center;
						}

						&:nth-child(2) {
							font-size: 16px;
							width: 20%;
							margin-left: 3px;
							text-align: right;
						}

						&:nth-child(3) {
							font-size: 12px;
							color: white;
							width: 15%;
							text-align: left;
							margin-left: 3px;
						}
					}
				}

				div.payment-button {
					width: 90%;
					margin-left: 5%;
					float: none;

					div.important-button {
						width: 100%;
					}

					a {
						width: 100%;
						margin-top: 5px;
					}
				}
			}
		}
	}
}