@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
		background-color: white;
		background-size: 100%;

		header {
		display: none;
		}

		div.choosen-item-main-container {
			display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 60px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.reservation-process {
			width: 100%;
			margin-top: 60px;
			height: 6vh;

			div.reservation-process-inside {
				width: 90%;
				margin-left: 5%;

				div.reservation-process-etap {
					width: 24.5%;
					font-size: 16px;

					div.round-check {
						height: 3vh;
						width: 3vh;
						line-height: 3vh;
						color: black;
						font-size: 12px;
						margin-top: 1.5vh;
						border: 0.1px solid black;
						border-radius: 100%;
						box-sizing: border-box;
						float: left;
						background-color: rgba(255, 255, 255, 0);
						text-align: center;
						font-family: @mainFont;
						font-weight: bold;
					}
				}
			}
		}

		div.main-container-form {
			width: 60%;
			margin-left: 1%;

			div.special-requests {

				label {
					display: block;

					span {
						margin-top: 1px;
					}
				}

				label > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					margin-top: 3px;
					margin-left: 3px;
					width: 14px;
					height: 14px;
					border: 1px solid black;
					box-sizing: border-box;
				}

				label > input {
					display: none;
				}

				label > input:checked + span:before {
					background-image: url("../images/check.png");
					background-size: 100%;
					background-position: cover;
				}
			}

			div.make-payment {
				height: 10vh;

				div.payment-checkboxes {

					label {
						display: block;

					span {
							margin-top: 1px;
						}
					}

					label > span:before {
						content: '';
						display: inline-block;
						position: absolute;
						margin-top: 3px;
						margin-left: 3px;
						width: 14px;
						height: 14px;
						border: 1px solid black;
						box-sizing: border-box;
					}

					label > input {
						display: none;
					}

					label > input:checked + span:before {
						background-image: url("../images/check.png");
						background-size: 100%;
						background-position: cover;
					}
				}

				div.important-button {
					height: 4vh !important;
					line-height: 4vh !important;
					margin-top: 10px !important;
				}
			}
		}

		div.choosen-item-main-container {
			display: block;
			width: 38%;
			margin-left: 61%;

			div.choosen-room {
				height: 110px;
			}
		}
	}
}