@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

html, body.registration-page {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body.registration-page {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-color: white;
	background-size: 100%;

		div.headermobile {
		display: none;
	}

	header {
		width: 100%;
		height: 10vh;
		top: 0;
		left: 0;
		background-color: white;

		div.main-logo-box {
			width: 30%;
			height: 100%;
			margin-left: 35%;

			div.empty-div-logo {
				width: 100%;
				height: 2vh;
			}

			img {
				height: 6vh;
				margin: 0 auto;
				display: block;
			} 
		}

		div.action-button {
			position: absolute;
			width: 10%;
			height: 10vh;
			line-height: 10vh;
			margin-left: 5%;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			margin-top: -10vh;
			font-size: 14px;

			p {
				padding: 0;
				margin: 0;

					a {
						text-decoration: none;
						color: @mainColor;
					}
				}
			}
		}

	div.mini-header {
		width: 100%;
		height: 6vh;
		background-color: #ccc;
		font-family: @mainFont;
		color: black;
		line-height: 6vh;
		text-align: center;
		font-size: 12px;
	}

	div.form-boxes {
		width: 50%;
		font-family: @mainFont;
		color: black;
		margin-left: 25%;

		form {
			width: 100%;

			div.form-group {
				width: 45%;
				float: left;
				width: 45%;

				&:nth-child(1) {
					position: absolute;
					width: 20%;
					margin-top: 3%;
					margin-left: 2%;
				}
				&:nth-child(2) {
					position: absolute;
					width: 20%;
					margin-top: 3%;
					margin-left: 25%;
				}
				&:nth-child(3) {
					position: absolute;
					width: 20%;
					margin-top: 10%;
					margin-left: 2%;
				}
				&:nth-child(4) {
					position: absolute;
					width: 20%;
					margin-top: 17%;
					margin-left: 25%;
				}
				&:nth-child(5) {
					position: absolute;
					width: 20%;
					margin-top: 17%;
					margin-left: 2%;
				}

				input, label {
					 	font-weight: bold;
					 	font-family: @mainFont;
					 }

				input {
				 	border: 1px solid #aaa;
				 	border-radius: 0px;
				 	background-color: #ccc;
				 	color: white;
				 	height: 42px;
				}
			}

		div.checkboxes {
			position: absolute;
			margin-top: 24%;
			margin-left: 2%;


			label {
				display: block;

				span {
					margin-top: 1px;
				}
			}

			label > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				margin-top: 3px;
				margin-left: 3px;
				width: 14px;
				height: 14px;
				border: 1px solid black;
				box-sizing: border-box;
			}

			label > input {
				display: none;
			}

			label > input:checked + span:before {
				background-image: url("../images/check.png");
				background-size: 100%;
				background-position: cover;
			}
		}
	}
}

	div.registration-button {
		position: absolute;
		width: 20%;
		margin-left: 40%;
		margin-top: 30%;
		height: 6vh;
		background-color: @mainColor;
		font-family: @mainFont;
		color: black;
		line-height: 6vh;
		text-align: center;
		font-size: 12px;

			a {
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: white;
			}
		}

	a.terms {
		position: absolute;
		text-decoration: none !important;
		width: 20%;
		margin-left: 40%;
		text-align: center;
		margin-top: 34%;
		text-decoration: none;
		font-family: @mainFont;
		font-size: 10px;
		color: black;
	}
}

