@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
		background-color: white;
		background-size: 100%;

		header {
		display: none;
		}

		div.choosen-item-main-container {
			display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 60px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.mini-header {
			width: 100%;
			margin-top: 60px;
			height: 6vh;
			background-color: #ccc;
			font-family: @mainFont;
			color: black;
			line-height: 6vh;
			text-align: center;
			font-size: 12px;
		}

		div.form-boxes {
			width: 98vw !important;
			margin-left: 1vw;
			font-family: @mainFont;
			color: black;
			margin-left: 25%;

			form {
				width: 100vw;

				div.form-group {
					width: 43vw !important;
					margin: 0px;

				 	&:nth-child(1) {
				 		margin-left: -23vw;
				 		margin-top: 5vh;
				 	}

				 	&:nth-child(2) {
				 		margin-left: 28vw;
				 		margin-top: 5vh;
				 	}

				 	&:nth-child(3) {
				 		margin-left: -23vw;
				 		margin-top: 20vh;
				 	}

				 	&:nth-child(4) {
				 		margin-left: 28vw;
				 		margin-top: 20vh;
				 	}

				 	&:nth-child(5) {
				 		margin-left: -23vw;
				 		margin-top: 33vh;
				 	}
				}

				div.checkboxes {
					width: 100vw;
					margin-top: 45vh;
					margin-left: -23vw;
				}
			}
		}

		div.registration-button {
			margin-top: 60vh;
			width: 60%;
			margin-left: 20%;
		}

		a.terms {
			margin-top: 68vh;
			width: 60%;
			margin-left: 20%;
		}
	}
}