@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-image: url("../images/jungle2.jpg");
	background-size: 100%;
}

div.headermobile {
	display: none;
}

header {
	width: 100%;
	height: 10vh;
	top: 0;
	left: 0;
	background-color: white;

	div.main-logo-box {
		width: 30%;
		height: 100%;
		margin-left: 35%;

		div.empty-div-logo {
			width: 100%;
			height: 2vh;
		}

		img {
			height: 6vh;
			margin: 0 auto;
			display: block;
		} 
	}

	div.back-button {
		position: absolute;
		width: 10%;
		height: 10vh;
		line-height: 10vh;
		margin-left: 5%;
		text-align: center;
		font-family: @mainFont;
		color: @mainColor;
		margin-top: -10vh;
		font-size: 14px;

		p {
			padding: 0;
			margin: 0;

			a {
				text-decoration: none;
				color: @mainColor;
			}
		}
	}
}

div.reservation-process {
	width: 100%;
	height: 6vh;
	background-color: #ccc;

	div.reservation-process-inside {
		width: 60%;
		height: 100%;
		margin-left: 20%;

		div.reservation-process-etap {
			width: 25%;
			float: left;

			div.round-check {
				height: 4vh;
				width: 4vh;
				line-height: 4vh;
				color: black;
				font-size: 12px;
				margin-top: 1vh;
				border: 0.1px solid black;
				border-radius: 100%;
				box-sizing: border-box;
				float: left;
				background-color: rgba(255, 255, 255, 0);
				text-align: center;
				font-family: @mainFont;
				font-weight: bold;
			}

			#first-check {
				background-color: white;
				color: @mainColor;
			}

			span {
				height: 6vh;
				line-height: 6vh;
				font-family: @mainFont;
				font-weight: bold;
				color: black;
				margin-left: 10px;
				font-size: 14px;
			}

			#process-span2 {
				border: 1px solid @secondColor;
				border-width: 0px 0px 1px 0px;
			}
		}
	}
}

div.welcome-text {
	width: 90%;
	height: 8vh;
	margin-left: 5%;
	margin-top: 8vh;

	p {
		padding: 0;
		margin: 0;
	}

	p.welcome-text-head {
		font-family: @mainFont;
		color: black;
		font-size: 24px;
		line-height: 4vh;
	}

	p.welcome-text-second {
		font-family: @mainFont;
		color: black;
		font-size: 12px;
		font-weight: bold;
		line-height: 4vh;
	}
}

div.room-selection {
	width: 90%;
	margin-left: 5%;
	height: 30vh;
	margin-top: 3vh;

	div.main-image-box {
		width: 35%;
		height: 100%;
		background-image: url("../images/studio.jpg");
		background-size: 100%;
		float: left;
	}

	div.room-description {
		width: 47.5%;
		height: 100%;
		background-color: white;
		float: left;

		p.type-of-room {
			width: 100%;
			height: 8vh;
			line-height: 8vh;
			font-family: @mainFont;
			color: black;
			font-size: 24px;
			padding: 0;
			margin: 0;
			margin-left: 5%;
		}

		div.underline-box {
			width: 100%;
			height: 1px;
			background-color: #eee;
		}

		p.short-description {
			width: 80%;
			margin-left: 5%;
			font-family: @mainFont;
			color: black;
			font-size: 12px;
		}

		p.room-floor, p.room-view {
			width: 80%;
			margin: 0;
			padding: 0;
			margin-left: 5%;
			font-family: @mainFont;
			color: black;
			font-size: 16px;
		}
	}

	div.price-and-pay {
		width: 17.5%;
		height: 100%;
		float: left;

		div.price-box {
			width: 100%;
			height: 23vh;
			background-color: #ccc;

			p {
				padding: 0;
				margin: 0;
				font-family: @mainFont;
			}

			p.which-room {
				position: absolute;
				margin-top: 30px;
				margin-left: 20px;
				font-weight: bold;
				font-size: 14px;
			}

			p.taxes {
				position: absolute;
				margin-top: 46px;
				margin-left: 20px;
				font-size: 10px;
			}

			p.price {
				position: absolute;
				margin-top: 30px;
				margin-left: 150px;
				font-size: 18px;
				font-weight: bold;
			}
		}

		div.pay-box {
			width: 100%;
			height: 7vh;
			background-color: @mainColor;
			text-align: center;

			a {
				text-decoration: none;

				p {
					padding: 0;
					margin: 0;
					color: white;
					font-family: @mainFont;
					line-height: 7vh;
					font-size: 18px;
				}
			}
		}
	}
}

div.empty-end-box {
	width: 100%;
	height: 50px;
}