@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	header {
		display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 70px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 70px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.reservation-process {
			width: 100%;
			margin-top: 70px;
			height: 6vh;

			div.reservation-process-inside {
				width: 80%;
				margin-left: 10%;

				div.reservation-process-etap {
					width: 25%;

					div.round-check {
						height: 3.5vh;
						width: 3.5vh;
						line-height: 3.5vh;
						color: black;
						font-size: 12px;
						margin-top: 1vh;
						border: 0.1px solid black;
						border-radius: 100%;
						box-sizing: border-box;
						float: left;
						background-color: rgba(255, 255, 255, 0);
						text-align: center;
						font-family: @mainFont;
						font-weight: bold;
					}

					span {
						font-size: 12px;
					}
				}
			}
		}

		div.welcome-text {
			width: 100%;
			height: 8vh;
			margin-left: 0%;
			text-align: center;
			margin-top: 2vh;
		
			p.welcome-text-head {
				text-align: center;
			}
		
			p.welcome-text-second {
				text-align: center;
			}
		}

		div.room-selection {
			width: 100vw;
			margin-left: 0%;
			height: 50vh;

			div.main-image-box {
				width: 100%;
				height: 50%;
			}

			div.room-description {
				width: 75%;
				height: 50%;
			}

			div.price-and-pay {
				width: 25%;
				height: 50%;

				div.price-box {
					width: 100%;
					height: 75%;

					p.which-room {
						margin-top: 30px;
						margin-left: 15px;
					}

					p.taxes {
						margin-left: 15px;
						margin-top: 47px;
					}

					p.price {
						margin-top: 33px;
						margin-left: 130px;
					}
				}

				div.pay-box {
					width: 100%;
					height: 25%;

					a {
						text-decoration: none;
						color: white;
						font-family: @mainFont;

						p {
							padding: 0;
							margin: 0;
							color: white;
							font-family: @mainFont;
							line-height: 6.25vh;
							font-size: 16px;
							text-align: center;
						}
					}
				}
			}
		}
}