@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (max-width: 749px) {
	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
		background-image: url("../images/jungle2.jpg");
		background-size: 100%;

		header {
		display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 60px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.reservation-process {
			width: 100%;
			margin-top: 60px;
			height: 12vh;

			div.reservation-process-inside {
				width: 80%;
				margin-left: 15%;

				div.reservation-process-etap {
					width: 50%;

					div.round-check {
						height: 3vh;
						width: 3vh;
						line-height: 3vh;
						color: black;
						font-size: 12px;
						margin-top: 1.5vh;
						border: 0.1px solid black;
						border-radius: 100%;
						box-sizing: border-box;
						float: left;
						background-color: rgba(255, 255, 255, 0);
						text-align: center;
						font-family: @mainFont;
						font-weight: bold;
					}

					span {
						font-size: 10px;
					}
				}
			}
		}

		div.welcome-text {
			width: 100%;
			height: 8vh;
			margin-left: 0%;
			text-align: center;
			margin-top: 2vh;
		
			p.welcome-text-head {
				text-align: center;
			}
		
			p.welcome-text-second {
				text-align: center;
			}
		}

		div.room-selection {
			width: 100vw;
			margin-left: 0%;
			height: 80vh;

			div.main-image-box {
				width: 100%;
				height: 40%;
			}

			div.room-description {
				width: 100%;
				height: 50%;
			}

			div.price-and-pay {
				width: 100%;
				height: 10%;

				div.price-box {
					width: 55%;
					float: left;
					height: 100%;

					p.which-room {
						margin-top: 10px;
						margin-left: 15px;
					}

					p.taxes {
						margin-left: 15px;
						margin-top: 27px;
					}

					p.price {
						margin-top: 13px;
						margin-left: 130px;
					}
				}

				div.pay-box {
					width: 45%;
					float: right;
					height: 100%;

					a {
						text-decoration: none;
						color: white;
						font-family: @mainFont;

						p {
							padding: 0;
							margin: 0;
							color: white;
							font-family: @mainFont;
							line-height: 8vh;
							font-size: 16px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

