@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html {

		body {

			header {
				display: none;
			}

			div.shop-button {
				display: none;
			}

			div.footer {
				display: none;
			}

			div.headermobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 24px;
				text-align: center;
				font-family: @mainFont;
				color: @mainColor;
				
				p {
					margin: 0px;
				}
			}

			div.booknowmobile {
				display: block;
				width: 100%;
				height: 60px;
				position: fixed;
				top: 60px;
				left: 0;
				background-color: #cba45f;
				display: block;
				z-index: 120;
				line-height: 60px;
				font-size: 18px;
				text-align: center;
				font-family: @mainFont;
				color: @thirdColor;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

				p {
					margin: 0px;
				}
			}

			div.shop-button {
				display: block;
				margin-top: 20vh;
				width: 60%;
				height: 8vh;
				line-height: 8vh;
				font-size: 36px;
				margin-left: 20%;
			}

			div.main-container {
				position: relative;
				width: 98%;
				height: auto;
				margin-left: 1%;
				margin-top: 40vh;
				background-color: rgba(255, 255, 255, 0.95);

				div.empty-up-div {
					width: 100%;
					height: 3vh;
				}

				div.promotion-container {
					width: 96%;
					height: 415px;
					position: relative;
					top: 5%;
					left: 2%;

					div.promotion-main-image {
						position: relative;
						width: 100%;
						height: 200px;
						background-image: url("../images/summerfasion3.jpg");
						background-size: 100%;
						top: 0;
						left: 0;
					}

					div.promotion-description {
						position: relative;
						width: 100%;
						height: 215px;
						top: 0;
						right: 0;
						background-color: white;
						text-align: center;

						p.promotion-head {
							margin: 0;
							padding: 0;
							font-family: @mainFont;
							color: @mainColor;
							font-size: 24px;
							width: 100%;
						}

						p.promotion-description {
							margin: 0;
							font-family: @mainFont;
							width: 96%;
							margin-left: 2%;
							font-size: 14px;
							padding-top: 5px;
							text-align: justify;
						}

						div.promotion-logo {
							width: 30%;
							height: 50px;
							position: absolute;
							left: 35%;
							bottom: 5px;
							border: 1px solid black;
							background-image: url("../images/brand.jpg");
							background-size: 100% 100%;
						}
					}
				}

				div.categories {
					display: none;
				}

				div.categories-mobile {
					display: block;
					position: relative;
					width: 96%;
					height: 50px;
					margin-left: 2%;
					margin-top: 10px;
					background-color: @mainColor;
					text-align: center;
					font-family: @mainFont;
					color: white;
					line-height: 20px;

					p {
						padding: 0;
						margin: 0;

						&:nth-child(1) {
							padding-top: 5px;
						}
					}
				}

				div.cetegories-mobile-menu {
					display: none;
					width: 96%;
					margin-left: 2%;
					height: 200px;
					background-color: @mainColor;
					text-align: center;
					font-family: @mainFont;
					color: white;
					line-height: 40px;

					a {
						text-decoration: none;
						color: white;

						p {
							padding: 0;
							margin: 0;
						}
					}
				}

				div.clothes {
					position: relative;
					width: 96%;
					height: 2520px;
					margin-left: 2%;
					margin-top: 10px;

					div.one-model {
						width: 100%;
						height: 200px;
						margin-top: 10px;

						&:nth-child(1) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(2) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(3) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(4) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(5) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(6) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(7) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(8) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(9) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(10) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(11) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						&:nth-child(12) {

							div.model-photo {
								background-image: url("../images/summermodel.jpg");
								background-size: 100%;
							}	
						}

						div.model-photo {
							width: 35%;
							height: 100%;
							float: left;
						}

						div.model-description {
							width: 65%;
							height: 100%;
							float: right;

							p.model-head {
								padding: 0;
								margin: 0;
								margin-left: 20px;
								font-family: @mainFont;
								font-size: 16px;
							}

							ul {
								margin-left: 10px;
								margin-top: 10px;
								margin-bottom: 0px;

								li {
									font-family: @mainFont;
									font-size: 12px;
								}
							}

							div.model-price {
								width: 35%;
								height: 30px;
								position: relative;
								margin-left: 30px;
								margin-top: 10px;
								border: 1px solid @mainColor;
								box-sizing: border-box;
								text-align: center;
								line-height: 30px;
								font-family: @mainFont;
								color: @mainColor;

								p {
									padding: 0;
									margin: 0;
									font-size: 18px;
									font-weight: bold;
								}
							}
						}
					}
				}

				div.chevron-box {
					position: relative;
					width: 100%;
					height: 30px;
					bottom: 3.5%;
					left: 0;
					text-align: center;
					z-index: 100;

					img {
						display: none;
					}
				}
			}

			div.empty-box-after-main-container {
				display: block;
				height: 10px;
			}
		}
	}
}