@mainColor: #cba45f;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../images/shop_bg.jpg");
	background-size: 100%;
	overflow-y: hidden;
}

div.headermobile, div.booknowmobile {
	display: none;
}

header {
	width: 100%;
	height: 50px;
	background-color: @thirdColor;
	position: fixed;
	margin-top: 4vh;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
	z-index: 100;

	div.hamburger-himself {
		width: 5%;
		height: 100%;
		position: absolute;
		margin-left: 1.5vw;
		text-align: left;
		line-height: 50px;
		font-size: 32px;
		color: @mainColor;

		a {
			text-decoration: none;
			color: @mainColor;
		}
	}

	div.centered-logo {
		position: absolute;
		width: 20%;
		height: 100%;
		margin-left: 40%;

		img {
			height: 34px;
			position: absolute;
    		margin: auto;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}

	div.book-now-box {
		width: 15%;
		height: 100%;
		position: absolute;
		right: 1.5vw;
		text-align: right;
		line-height: 50px;

		a {
			text-decoration: none;
			color: @mainColor;
			font-family: @mainFont;
			font-weight: lighter;
			font-size: 20px;
		}
	}
}

div.shop-button {
	position: absolute;
	width: 30%;
	height: 10vh;
	margin-left: 35%;
	margin-top: 45vh;
	border: 1px solid white;
	text-align: center;
	line-height: 10vh;
	color: white;
	font-family: @mainFont;
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 60px;
	overflow: hidden;
	letter-spacing: 5px;

	p {
		margin: 0;
		padding: 0;
	}
}

div.main-container {
	position: relative;
	width: 98%;
	margin-left: 1%;
	margin-top: 90vh;
	background-color: rgba(255, 255, 255, 0.75);

	div.empty-up-div {
		width: 100%;
		height: 3vh;
	}

	div.promotion-container {
		width: 96%;
		height: 300px;
		position: relative;
		top: 5%;
		left: 2%;

		div.promotion-main-image {
			position: absolute;
			width: 44%;
			height: 100%;
			background-image: url("../images/summerfasion3.jpg");
			background-size: 100%;
			top: 0;
			left: 0;
		}

		div.promotion-description {
			position: absolute;
			width: 56%;
			height: 100%;
			top: 0;
			right: 0;
			background-color: white;

			p.promotion-head {
				margin: 0;
				margin-top: 15px;
				margin-left: 20px;
				padding: 0;
				font-family: @mainFont;
				color: @mainColor;
				font-size: 24px;
			}

			p.promotion-description {
				margin: 0;
				margin-top: 5px;
				margin-left: 20px;
				font-family: @mainFont;
				width: 50%;
				font-size: 14px;
				padding-top: 5px;
			}

			div.promotion-logo {
				width: 30%;
				height: 8vh;
				position: absolute;
				left: 20px;
				bottom: 20px;
				border: 1px solid black;
				background-image: url("../images/brand.jpg");
				background-size: 100%;
			}
		}
	}

	div.categories {
		width: 96%;
		height: 50px;
		margin-top: 20px;
		margin-left: 2%;
		background-color: @mainColor;

		ul {
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				width: 19%;
				line-height: 50px;
				display: inline-block;

				a {
					text-decoration: none;
					color: white;
					font-family: @mainFont;
				}
			}
		}
	}

	div.categories-mobile {
		display: none;
	}

	div.cetegories-mobile-menu {
		display: none;
	}

	div.clothes {
		width: 96%;
		height: 1900px;
		margin-left: 2%;
		margin-top: 10px;

		div.one-model {
			width: 50%;
			height: 250px;
			float: left;
			margin-top: 10px;

			&:nth-child(1) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(2) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(3) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(4) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(5) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(6) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(7) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(8) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(9) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(10) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(11) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			&:nth-child(12) {

				div.model-photo {
					background-image: url("../images/summermodel.jpg");
					background-size: 100%;
				}	
			}

			div.model-photo {
				width: 35%;
				height: 100%;
				float: left;
			}

			div.model-description {
				width: 65%;
				height: 100%;
				float: right;

				p.model-head {
					padding: 0;
					margin: 0;
					margin-top: 10px;
					margin-left: 30px;
					font-family: @mainFont;
					font-size: 24px;
				}

				ul {
					margin-left: 30px;

					li {
						font-family: @mainFont;
					}
				}

				div.model-price {
					width: 35%;
					height: 6vh;
					position: relative;
					margin-left: 30px;
					margin-top: 10px;
					border: 2px solid @mainColor;
					box-sizing: border-box;
					text-align: center;
					line-height: 6vh;
					font-family: @mainFont;
					color: @mainColor;

					p {
						padding: 0;
						margin: 0;
						font-size: 18px;
						font-weight: 200;
					}
				}
			}
		}
	}

	div.chevron-box {
		width: 100%;
		height: 80px;
		bottom: 3.5%;
		left: 0;
		text-align: center;
		z-index: 100;
	}
}

div.empty-box-after-main-container {
	width: 100%;
	height: 40px;
}

div.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	div.contacts-container {
		background-color: rgba(161, 129, 75, 0.95);

		div.newsletter-div {
			width: 100%;
			text-align: center;
			font-family: @mainFont;
			color: @thirdColor;

			p {
				padding-top: 30px;
				font-size: 20px;
				font-weight: lighter;
			}

			form {

				input {
					width: 200px;
					border: 1px solid black;
					border-width: 0px 0px 1px 0px;
					background-color: rgba(161, 129, 75, 0);
					font-size: 14px;
					color: rgb(208, 208, 208);
					outline: none;
				}

				button {
					background-color: rgba(255, 255, 255, 0);
					border: none;
					&:focus {
						outline: 0;
					}

					img {
						height: 20px;
					}
				}
			}
		}

		div.main-logo-contact-box{
			width: 30%;
			margin-left: 35%;

			img {
				width: 100%;
			}
		}

		div.contacts-facilities {
			width: 80%;
			margin-left: 10%;
			text-align: center;

			a {
				text-decoration: none;

				&:hover {

					p.contacts-facilities {
						text-decoration: underline;
					}
				}

				p.contacts-facilities {
					display: inline-block;
					font-family: @mainFont;
					font-size: 18px;
					padding-left: 50px;
					padding-right: 50px;
					color: rgb(208, 208, 208);
				}
			}
		}

		div.contacts-submenu {
			width: 100%;
			text-align: center;

			a {
				text-decoration: none;
				color: black;

				&:hover {

					p.contacts-submenu {
						text-decoration: underline
					}
				}

				p.contacts-submenu {
					display: inline-block;
					font-size: 14px;
					font-family: @mainFont;
					padding-left: 3px;
					padding-right: 30px;
					padding-top: 8px;
				}
			}
		}

		div.social-media-container {
			width: 40%;
			margin-left: 30%;

			a {
				text-decoration: none;

				div.social-media-each {
						display: inline-block;
						width: 13%;

					img {
						width: 75%;
						box-sizing: border-box;

						&:hover {
							border: 1px solid @mainColor;
							border-radius: 100%;
						}
					}
				}
			}
		}

		div.who-made-it {
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 12px;
			font-family: @mainFont;
			color: @thirdColor;
			margin-top: 10px;
		}
	}
}