@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: #fff;
@mainFont: "open sans";

.headsection-text {
	margin-top: 20px;
	width: 100%;
	height: 120px;
	text-align: center;
	font-size: 48px;
	color: @thirdColor;
	font-family: @mainFont;
	font-weight: lighter;
	line-height: 120px;
}

.head-event-date{
	font-family: @mainFont;
	font-weight: 700;
	color: @secondColor;
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 16px;
	text-align: left;
}

.type-of-event{
	font-family: @mainFont;
	font-weight: 200;
	color: @mainColor;
	font-size: 36px;
	margin: 0;
	padding: 0;
	margin-left: 16px;
	text-align: left;
}



//start styles here


html, body {
	margin:	0;
	padding: 0;
	overflow-x: hidden;
}

body.body-main-page {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg.png");
	background-size: 100% 110%;
}

div.main-container {
	background-image: url("../images/bg.png");
	background-size: 100% 110%;
	z-index: 100;
	position: relative;
	box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.first-container{
	width: 100%;
	position: relative;
	height: 100vh;
	background-size: 100% 100%;
	background-color: transparent;
	transition: .5s;
	z-index: 100;

	//mobile header starts here

	div.headermobile {
		display: none;
		text-align: center;
		color: @mainColor;
		font-family: @mainFont;
		font-weight: lighter;
	}
	div.booknowmobile {
		display: none;
		text-align: center;
		color: @thirdColor;
		font-family: @mainFont;
		font-weight: lighter;
	}

	//desktop header starts here

	header {
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 120;

		div.change-languages {
			width: 80px;
			height: 30px;
			margin-top: 10px;
			margin-left: 25px;
			position: absolute;

			div.language-box {
				width: 47.5%;
				height: 20px;
				font-family: @mainFont;
				font-weight: lighter;

				&:nth-child(1) {
					float: left;
					text-align: center;
					color: @thirdColor;

					&:hover > a {
						color: @mainColor;
						border: 1px solid @mainColor;
						padding: 2px 3px;
					}
				}

				&:nth-child(2) {
					float: right;
					text-align: center;
					background-color: @mainColor;

					& > a {
						color: @thirdColor;
					}
				}

				a {
					text-decoration: none;
					transition: 0.1s;
					margin: 0;
					padding: 0;
					line-height: 20px;
					text-decoration: none;
					color: @mainColor;
					font-size: 14px;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		div.join-or-sign-box{
			width: 18%;
			height: 30px;
			margin-top: 4px;
			position: absolute;
			margin-left: 40%;

			div.join-or-sing {
				width: 47.5%;
				height: 30px;
				text-align: center;
				padding-bottom: 28px;

				&:nth-child(1) {
					float: left;
					box-sizing: border-box;
					border: 2px solid @mainColor;

					a {
						color: @mainColor;
					}
				}

				&:nth-child(2) {
					float: right;
					box-sizing: border-box;
					border: 2px solid @mainColor;

					a {
						color: @mainColor;
					}
				}

				&:hover {
					background-color: @mainColor;

					a.join-button {
						color: @thirdColor;
						text-decoration: none;
						transition: 0.3s;
					}
				}

				a.join-button {
					margin: 0;
					padding: 0;
					text-align: center;
					text-decoration: none;
					line-height: 30px;
					font-family: "helvetica";
					font-size: 14px;
					display: block;
					width: 100%;
					height: 30px;
				}
			}
		}
	}

	#stickytypeheader {
		transition: 0.5s;
		width: 100%;
		height: 60px;
		position: absolute;
		z-index: 80;
		background-color: rgba(255, 255, 255, 0);
	}

	div.hamburger-container {
		width: 120px;
		height: 40px;
		position: absolute;
		margin-left: 25px;
		margin-top: 50px;
		transition: 0.5s;
		z-index: 140;

		div.for-hamburger-himself {
			width: 40px;
			height: 40px;
			font-size: 24px;
			text-align: center;
			line-height: 40px;
			float: left;

			a > i.fa-bars {
				color: @mainColor;
			}
		}

		div.for-menu-text {
			width: 80px;
			height: 40px;
			float: right;
			line-height: 40px;
			text-align: center;
			font-family: "helvetica";
			font-size: 24px;

			a.for-menu-text {
				text-decoration: none;
				color: @mainColor;

				&:hover {
					text-decoration: none;
					color: @mainColor;
				}
			}
		}
	}

	div.book-now-box {
		width: 120px;
		height: 40px;
		position: absolute;
		margin-right: 34px;
		margin-top: 50px;
		right: 0;
		background-color: @mainColor;
		text-align: center;
		transition: 0.5s;
		z-index: 140;
		line-height: 40px;
		font-family: @mainFont;
		color: white;
		font-size: 14px;

		&:hover {
			background-color: rgba(203, 164, 95, 0.95);
			border: 1px solid @thirdColor;
			border-width: 0px 0px 1px 0px;
			cursor: pointer;
		}

		a.book-now {
			text-decoration: none;
			color: @thirdColor;
			margin: 0;
			padding: 0;
			font-family: "helvetica";
			line-height: 40px;
			font-size: 14px;
			display: block;
			width: 100%;
			height: 40px;
			z-index: 140;

			&:hover {
				text-decoration: none;
				color: @thirdColor;
			}
		}
	}

	div.main-logo-box {
		width: 30%;
		position: absolute;
		margin-left: 35%;
		margin-top: 20px;
		z-index: 140;
		transition: 1s;

		img {
			width: 100%;

			&:nth-child(2) {
				width: 100%;
				display: none;
			}
		}
	}

	div.main-landing-menu {
		width: 100%;
		height: 300px;
		position: absolute;
		top: 38vh;
		left: 0;
		text-align: center;

		a {
			display: inline-block;
			width: 19.5%;
			height: 100%;
			line-height: 300px;
			text-decoration: none;
			color: @thirdColor;
			font-size: 18px;
			transition: 0.2s;
			font-family: @mainFont;
			font-weight: 200;

			&:hover {
				font-size: 20px;
			}

			&:nth-child(1) {
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-width: 0px 1px 0px 0px;
			}

			&:nth-child(3) {
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-width: 0px 1px 0px 1px;
			}

			&:nth-child(5) {
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-width: 0px 0px 0px 1px;
			}
		}
	}
	div.div-for-chevron{
		width: 100%;
		position: absolute;
		height: 40px;
		bottom: 3.5%;
		left: 0;
		text-align: center;
		z-index: 100;

			img {
				animation-name: scrolldown;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}

		img {
			margin-top: 0 auto;
			height: 40px;	
		}

		@keyframes scrolldown {
			0% {margin-top: 0px; opacity: 0.3;}
			100% {margin-top: 15px}
		}
	}
	div.landing-page-empty-div-bottom {
		width: 100%;
		height: 50px;
		position: absolute;
		left: 0;
		bottom: 0;
	}	
}



/* second container styler starts from here */
/* second container styler starts from here */
/* second container styler starts from here */
/* second container styler starts from here */

div.second-container {
	position: relative;
	width: 100%;

	div.about-us-container {
		width: 98%;
		margin-left: 1%;
		background-color: @thirdColor;
		top: 0;
		left: 0;
		z-index: 50;

		div.about-us-head {
			width: 100%;
			text-align: center;
			position: relative;

			p {
				.headsection-text;
				margin-top: 0;
				height: 100px;
				line-height: 100px;
				color: @secondColor;
			}
		}

		div.row {
			width: 98%;
			margin-left: 1%;
			position: relative;
			margin-bottom: 50px;

			div.col-md-4 {

				h3.head-of-about-us-container {
					text-align: center;

					&:hover {

						div.for-underline{
							width: 36%;
							margin-left: 32%;
						}
					}

					div.for-underline{
						width: 16%;
						margin-left: 42%;
						border: 2px solid @secondColor;
						height: 2px;
						border-width: 2px 0px 0px 0px;
						margin-top: 10px;
						transition: .3s;
					}
				}

				p.text-of-about-us{
					width: 80%;
					padding-top: 12px;
					margin-left: 10%;
					text-align: center;
					font-family: "helvetica";
				}

			}
		}
		div.events-container{
			width: 100%;
			height: 480px;
			position: relative;

			div.upcoming-events{
				position: absolute;
				width: 10%;
				left: 0;
				bottom: 15%;

				p {
					transform: rotate(-90deg);
					font-family: @mainFont;
					font-size: 24px;
					line-height: 135%;
					color: @secondColor;

					span:nth-child(1) {
						font-size: 18px;
						font-weight: bolder;
					}

					span:nth-child(2) {
						font-size: 48px;
						font-weight: lighter;
					}
				}
			}

			div.events-by-type{
				width: 90%;
				height: 440px;
				position: absolute;
				background-image: url("../images/events_background_bbq.jpg");
				background-position: left top;
				right: 0;
				bottom: 5%;
				transition: .3s;

				a {

					div.head-event-box{
						width: 300px;
						background-color: @thirdColor;
						position: absolute;
						margin-top: 25px;
						margin-left: 20px;
						transition: 0.3s;

						&:hover {
							background-color: @secondColor;

							p.head-event-date {
								color: @thirdColor;
							}
							p.type-of-event {
								color: @thirdColor;
							}
						}

						p.head-event-date{
							.head-event-date;
						}

						p.type-of-event{
							.type-of-event;
						}

						div.join-head-event{
							width: 100%;
							background-color: @secondColor;
							height: 30px;
							margin-top: 7px;
							text-align: center;
							color: @thirdColor;
							font-family: @mainFont;

							p {
								margin: 0;
								padding: 0;
								line-height: 28px;
								transition: 0.2s;
							}
						}
					}
				}

				div.other-events-box{
					width: 330px;
					height: 420px;
					position: absolute;
					right: 0;
					bottom: 0;

					a {
						text-decoration: none;

						div.head-event-box-right-column {
							transition: .3s;

							p.head-event-date{
								.head-event-date;
							}

							p.type-of-event{
								.type-of-event;
								padding-bottom: 10px;
							}

							background-color: @thirdColor;
							margin-top: 5px !important;
							position: relative;

							&:nth-child(1) {
								margin-top: 20px;
							}

							&:nth-child(2) {
								margin-top: 5px;
							}

							img {
								position: absolute;
								right: 0;
								top: 25px;
								height: 35px;
							}

							&:hover {
								background-color: @secondColor;

								p.head-event-date {
									color: white;
								}
								p.type-of-event {
									color: white;
								}
							}
						}

						div.more-events{
							width: 330px;
							height: 85px;
							background-color: @secondColor;
							margin-top: 5px;
							text-align: center;
							line-height: 85px;
							font-family: @mainFont;
							font-weight: lighter;
							font-size: 24px;
							color: @thirdColor;
							transition: 0.2s;

							&:hover {

								p {
									font-size: 26px;
								}
							}
						}
					}

					div.empty-div-event-box{
						width: 330px;
						height: 5px;
						background-color: @thirdColor;
					}
				}
			}
		}
	}

	@keyframes knockknock {
	0% {margin-right: 0px}
	40% {margin-right: -10px}
	}

	/* from here starts faq styles*/
	/* from here starts faq styles*/
	/* from here starts faq styles*/
	/* from here starts faq styles*/

	div.faq {
		width: 100%;

		div.faq-head-text {
			.headsection-text;
		}

		div.each-faq {
			width: 98%;
			height: 40px;
			background-color: @thirdColor;
			margin-left: 1%;
			margin-top: 6px;
			line-height: 40px;
			position: relative;
			transition: .2s;

			&:hover {
				background-color: @mainColor;

				p {
					color: white;
				}
			}

			p {
				left: 20px;
				padding-left: 5px;
			}

			img {
				position: absolute;
				top: 0;
				right: 20px;
				height: 20px;
				margin-top: 10px;
				z-index: 50;
			}

			div.gradient-div-for-different-resolutions {
				display: none;
			}
		}

		div.faq-hidden-text {
			width: 90%;
			margin-left: 5%;
			margin-top: 5px;
			color: @thirdColor;
			display: none;

			p {
				padding: 10px;
			}
		}
	}
	div.map-and-transfers {
		width: 100%;

		div.map-and-transfers-head-text {
			.headsection-text;
		}

		div.container-for-a-map{
			width: 100%;
			height: 400px;
		}

		div.adress-container {
			width: 100%;
			height: 120px;
			background-color: @thirdColor;

			div.each-adress-container {
				width: 33%;
				height: 100px;
				display: inline-block;
				position: relative;
				font-size: 18px;
				font-family: @mainFont;
				font-weight: lighter;

				div.container-for-a-location-pin {
					position: absolute;
					width: 29.5%;
					height: 100px;
					top: 0;
					left: 0;

					img {
						height: 80px;
						margin: 0 auto;
						display: block;
						margin-top: 15px;
					}
				}

				div.container-for-a-location-text {
					position: absolute;
					width: 69.5%;
					right: 0;
					top: 6.5px;
					height: 60px;
					margin-top: 12px;
					color: @secondColor;

					p {
						margin: 0;
						padding: 0;
						word-spacing: 2px;
						letter-spacing: 1px;
					}
				}

				div.just-for-a-horizontal-line {
					position: absolute;
					width: 1px;
					height: 80px;
					border: 1px solid @mainColor;
					border-width: 0px 1px 0px 0px;
					top: 20px;
					left: 50px;
				}

				div.ranges {
					position: absolute;
					top: 0;
					right: 0;
					height: 80px;
					margin-top: 20px;
					line-height: 40px;
					width: 75%;
					text-align: left;

					p {
						font-family: @mainFont;
						font-weight: lighter;
						font-size: 18px;
						color: @mainColor;
						padding: 0;
						margin: 0;

						img {
							height: 25px;
						}
					}
				}

				div.drivers-photo {
					position: absolute;
					width: 100px;
					height: 100px;
					top: 10px;
					left: 10px;
					background-image: url("../images/the_driver.jpg");
					background-size: 100% 100%;
					border: 2px solid @mainColor;
					border-radius: 100%;
					box-sizing: border-box;
				}

				div.drivers-name {
					position: absolute;
					right: 0;
					top: 0;
					width: 68%;
					height: 80px;
					margin-top: 15px;
					margin-top: 20px;

					p {
						padding: 0;
						margin: 0;
						color: @mainColor;
						font-size: 18px;
					}

					div.just-for-a-line-driver {
						width: 20%;
						height: 1px;
						border: 1px solid @mainColor;
						border-width: 2px 0px 0px 0px;
						margin-top: 2px;
						margin-bottom: 2px;
					}
				}
			}
		}
	}
}

/* from here starts third container styler */
/* from here starts third container styler */
/* from here starts third container styler */
/* from here starts third container styler */

div.third-container {
	position: relative;
	width: 100%;
	background-size: 100% 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

	div.contact-us-head-text {
		.headsection-text;
	}

	div.container-for-forms{
		width: 60%;
		height: 300px;
		margin-left: 20%;

		div.left-form {
			float: left;
			font-family: @mainColor;
			color: @thirdColor;
			width: 35%;

			form {
				input.left-form {
					height: 30px;
					width: 100%;
					height: 35px;
					color: black;
				}

				p {
					margin-top: 15px;
				}
			}
		}

		div.right-form {
			float: right;
			width: 60%;
			height: 200px;
			color: @thirdColor;
			font-family: @mainFont;

			form {
				p {
					margin-top: 15px;
				}

				textarea {
					width: 100%;
					height: 116px;
					line-height: 116px;
					color: black;
					outline: none;
					overflow: hidden;
					resize: none;
				}
			}

			div.send-box {
				float: right;
				margin-top: 40px;
				width: 200px;
				height: 35px;
				background-color: @secondColor;
				border: 2px solid @thirdColor;
				box-sizing: border-box;
				text-align: center;
				line-height: 31px;

				button {
					width: 100%;
					height: 100%;
					background-color: @secondColor;
					border: 0px solid @thirdColor;
				}
			}
		}
	}

	div.contacts-container {
		background-color: rgba(161, 129, 75, 0.95);

		div.newsletter-div {
			width: 100%;
			text-align: center;
			font-family: @mainFont;
			color: @thirdColor;

			p {
				padding-top: 30px;
				font-size: 20px;
				font-weight: lighter;
			}

			form {

				input {
					width: 200px;
					border: 1px solid black;
					border-width: 0px 0px 1px 0px;
					background-color: rgba(161, 129, 75, 0);
					font-size: 14px;
					color: rgb(208, 208, 208);
					outline: none;
				}

				button {
					background-color: rgba(255, 255, 255, 0);
					border: none;
					&:focus {
						outline: 0;
					}

					img {
						height: 20px;
					}
				}
			}
		}

		div.main-logo-contact-box{
			width: 30%;
			margin-left: 35%;

			img {
				width: 100%;
			}
		}

		div.contacts-facilities {
			width: 80%;
			margin-left: 10%;
			text-align: center;

			a {
				text-decoration: none;

				&:hover {

					p.contacts-facilities {
						text-decoration: underline;
					}
				}

				p.contacts-facilities {
					display: inline-block;
					font-family: @mainFont;
					font-size: 18px;
					padding-left: 50px;
					padding-right: 50px;
					color: rgb(208, 208, 208);
				}
			}
		}

		div.contacts-submenu {
			width: 100%;
			text-align: center;

			a {
				text-decoration: none;
				color: black;

				&:hover {

					p.contacts-submenu {
						text-decoration: underline
					}
				}

				p.contacts-submenu {
					display: inline-block;
					font-size: 14px;
					font-family: @mainFont;
					padding-left: 3px;
					padding-right: 30px;
					padding-top: 8px;
				}
			}
		}

		div.social-media-container {
			width: 40%;
			margin-left: 30%;

			a {
				text-decoration: none;

				div.social-media-each {
						display: inline-block;
						width: 13%;

					img {
						width: 75%;

						&:hover {
							border: 1px solid @mainColor;
							border-radius: 100%;
						}
					}
				}
			}
		}

		div.who-made-it {
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 12px;
			font-family: @mainFont;
			color: @thirdColor;
			margin-top: 10px;
		}
	}
}

div.transparent-container {
	width: 100%;
	height: 429px;
	visibility: hidden;
}

div.fourth-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	div.contacts-container {
		background-color: rgba(161, 129, 75, 0.95);

		div.newsletter-div {
			width: 100%;
			text-align: center;
			font-family: @mainFont;
			color: @thirdColor;

			p {
				padding-top: 30px;
				font-size: 20px;
				font-weight: lighter;
			}

			form {

				input {
					width: 200px;
					border: 1px solid black;
					border-width: 0px 0px 1px 0px;
					background-color: rgba(161, 129, 75, 0);
					font-size: 14px;
					color: rgb(208, 208, 208);
					outline: none;
				}

				button {
					background-color: rgba(255, 255, 255, 0);
					border: none;
					&:focus {
						outline: 0;
					}

					img {
						height: 20px;
					}
				}
			}
		}

		div.main-logo-contact-box{
			width: 30%;
			margin-left: 35%;

			img {
				width: 100%;
			}
		}

		div.contacts-facilities {
			width: 80%;
			margin-left: 10%;
			text-align: center;

			a {
				text-decoration: none;

				&:hover {

					p.contacts-facilities {
						text-decoration: underline;
					}
				}

				p.contacts-facilities {
					display: inline-block;
					font-family: @mainFont;
					font-size: 18px;
					padding-left: 50px;
					padding-right: 50px;
					color: rgb(208, 208, 208);
				}
			}
		}

		div.contacts-submenu {
			width: 100%;
			text-align: center;

			a {
				text-decoration: none;
				color: black;

				&:hover {

					p.contacts-submenu {
						text-decoration: underline
					}
				}

				p.contacts-submenu {
					display: inline-block;
					font-size: 14px;
					font-family: @mainFont;
					padding-left: 3px;
					padding-right: 30px;
					padding-top: 8px;
				}
			}
		}

		div.social-media-container {
			width: 40%;
			margin-left: 30%;

			a {
				text-decoration: none;

				div.social-media-each {
						display: inline-block;
						width: 13%;

					img {
						width: 75%;

						&:hover {
							border: 1px solid @mainColor;
							border-radius: 100%;
						}
					}
				}
			}
		}

		div.who-made-it {
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 12px;
			font-family: @mainFont;
			color: @thirdColor;
			margin-top: 10px;
		}
	}
}