@media screen and (min-width:1000px) and (max-width:1200px){
	html {

		body {
			background-size: 130% 110%;

			div.first-container {

				div.main-logo-box {
					margin-top: 0px !important;
				}
			}

			div.second-container {

				div.map-and-transfers {

					div.adress-container {
						font-size: 15px;

						div.each-adress-container {

							&:nth-child(1) {
								font-size: 15px;
							}

							&:nth-child(2) {

									p {
										font-size: 15px;
									}
							}

							&:nth-child(3) {

								div.drivers-photo {
									height: 80px;
									width: 80px;
									margin-top: 10px;
								}

								div.drivers-name {

									p {
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}