@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-color: white;
	background-size: 100%;
}

div.headermobile {
	display: none;
}

header {
	width: 100%;
	height: 10vh;
	top: 0;
	left: 0;
	background-color: white;

	div.main-logo-box {
		width: 30%;
		height: 100%;
		margin-left: 35%;

		div.empty-div-logo {
			width: 100%;
			height: 2vh;
		}

		img {
			height: 6vh;
			margin: 0 auto;
			display: block;
		} 
	}

	div.action-button {
		position: absolute;
		width: 10%;
		height: 10vh;
		line-height: 10vh;
		margin-left: 90%;
		text-align: center;
		font-family: @mainFont;
		color: @mainColor;
		margin-top: -10vh;
		font-size: 14px;

		p {
			padding: 0;
			margin: 0;
		}
	}
}

div.mini-header {
	width: 100%;
	height: 6vh;
	background-color: #ccc;
	font-family: @mainFont;
	color: black;
	line-height: 6vh;
	text-align: center;
	font-size: 12px;
}

div.user-photo {
	width: 50%;
	margin-left: 25%;
	height: 150px;
	margin-top: 30px;

	div.put-photo {
		width: 150px;
		height: 150px;
		position: relative;

		div.chooseaphoto {
			position: relative;
    		overflow: hidden;
    		background-color: white;
    		color: black;
    		border-radius: 2px;

    		span {
    			display: block;
    			width: 150px;
    			height: 150px;
    			margin: 0;
    			padding: 0;
    			border: 1px dashed black;
    			box-sizing: border-box;
    			z-index: 100;
    			line-height: 150px;
    			font-size: 48px;
    			text-align: center;
    		}
		}

		div.chooseaphoto input {
			position: absolute;
    		top: 0;
    		right: 0;
    		margin: 0;
    		padding: 0;
    		font-size: 20px;
    		height: 150px;
    		cursor: pointer;
    		opacity: 0;
    		filter: alpha(opacity=0);
		}
	}
}

div.users-name {
	width: 40%;
	margin-left: 40%;
	margin-top: -7.75vh;
	position: absolute;
	font-family: @mainFont;
	color: black;

	p {
		margin: 0;
		padding: 0;

		&:nth-child(1) {
			font-weight: 700;
			font-size: 16px;
		}

		&:nth-child(2) {
			font-weight: 200;
			font-size: 14px;
		}
	}
}

div.interests {
	width: 50%;
	margin-left: 26%;
	margin-top: 20px;

	p.form-head {
		width: 100%;
		font-family: @mainFont;
		font-weight: 700;
		font-size: 14px;
		padding: 0;
		margin: 0;
	}

	div.row {
		width: 23%;
		display: inline-block;
		margin-top: 5px;

		label {
				display: inline-block;

		span {
				margin-top: 1px;
			}
		}

		label > span:before {
			display: inline-block;
			content: '';
			position: absolute;
			margin-top: 3px;
			margin-left: 3px;
			width: 14px;
			height: 14px;
			border: 1px solid black;
			box-sizing: border-box;
		}

		label > input {
			display: none;
		}

		label > input:checked + span:before {
			background-image: url("../images/check.png");
			background-size: 100%;
			background-position: cover;
		}
	}
}

div.select-dates {
	width: 50%;
	margin-left: 25%;
	margin-top: 30px;

	p.form-head {
		width: 100%;
		font-family: @mainFont;
		font-weight: 700;
		font-size: 14px;
		padding: 0;
		margin: 0;
	}

	form {

		div.form-group {
			margin-top: 10px;
			width: 50%;
			float: left;

			 input {
			 	width: 80%;
			 	font-weight: bold;
				font-family: @mainFont;
				font-weight: 200;
				font-size: 18px;
			 	border: 1px solid #aaa;
			 	border-radius: 0px;
			 	background-color: #ccc;
			 	color: white;
			 	height: 36px;
			}
		}
	}
}

div.special-forms {
	width: 50%;
	margin-left: 25%;

	form {

		div.form-group:nth-child(1) {
			margin-top: 10vh;
		}

		p {
			width: 100%;
			font-family: @mainFont;
			font-weight: 700;
			font-size: 14px;
			padding: 0;
			margin: 0;
			margin-top: 15px;
		}

		input, label {
			font-weight: bold;
			font-family: @mainFont;
		}

		 input {
		 	border: 1px solid #aaa;
		 	border-radius: 0px;
		 	background-color: #ccc;
		 	color: white;
		 	height: 36px;
		 	width: 90%;
		}
	}
}

div.save-button {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 30px;

	p {
		padding: 0;
		width: 10%;
		height: 100%;
		margin: 0;
		margin-left: 42.5%;
		font-family: @mainFont;
		background-color: @mainColor;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: white;
		}
	}
}

div.empty-box-end {
	width: 100%;
	height: 50px;
}