@mainColor: #cba45f;
@secondColor: #a1814b;
@thirdColor: white;
@mainFont: "open sans";

@media screen and (min-width: 765px) and (max-width: 780px) {

	html, body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	
	body {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
		background-color: white;
		background-size: 100%;

		header {
		display: none;
		}

		div.choosen-item-main-container {
			display: none;
		}

		div.headermobile {
			width: 100vw;
			height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
			display: block;
			z-index: 120;
			line-height: 60px;
			font-size: 24px;
			text-align: center;
			font-family: @mainFont;
			color: @mainColor;
			
			p {
				margin: 0px;
			}
		}

		div.mini-header {
			width: 100%;
			margin-top: 60px;
			height: 6vh;
			background-color: #ccc;
			font-family: @mainFont;
			color: black;
			line-height: 6vh;
			text-align: center;
			font-size: 12px;
		}

		div.user-photo {
			width: 80%;
			margin-left: 25%;
			height: 150px;
			margin-top: 30px;
		}

		div.users-name {
			width: 40%;
			margin-left: 50%;
			margin-top: -7.75vh;
			position: absolute;
			font-family: @mainFont;
			color: black;

			p {
				margin: 0;
				padding: 0;

				&:nth-child(1) {
					font-weight: 700;
					font-size: 14px;
				}

				&:nth-child(2) {
					font-weight: 200;
					font-size: 12px;
				}
			}
		}

		div.interests {
			width: 80%;
			margin-left: 15%;
			margin-top: 30px;

			div.row {
				width: 23%;
				display: inline-block;
				margin-top: 5px;
			}
		}

		div.select-dates {
			width: 80%;
			margin-left: 10%;
			margin-top: 30px;

			form {

				div.form-group {

					input {
						width: 94%;
					}
				}
			}
		}

		div.special-forms {
			width: 80%;
			margin-left: 10%;

			form {

				 input {
				 	border: 1px solid #aaa;
				 	border-radius: 0px;
				 	background-color: #ccc;
				 	color: white;
				 	height: 36px;
				 	width: 96%;
				}
			}
		}

		div.save-button {

			 p {
			 	width: 30%;
			 	margin-left: 35%;
			 }
		}
	}
}